<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://encoderblog.azurewebsites.net/">
      <img src="assets/MyBlogIcon.png" width="150" height="96">
    </a>

    <a role="button" (click)="burgerMenuClick()" class="navbar-burger" [ngClass]="{ 'is-active' : isBurgerMenuActive }"
      data-target="navbarBasicExample">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{ 'is-active' : isBurgerMenuActive }">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Home
      </a>

      <a class="navbar-item" routerLink="portfolio">
        Portfolio
      </a>

      <a class="navbar-item" routerLink="blog">
        Blog
      </a>

      <a class="navbar-item" routerLink="contact">
        Contacts
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" href="https://bitbucket.org/slashxman">
            <span class="icon">
              <fa-icon [icon]="['fab', 'bitbucket']" size="2x"></fa-icon>
            </span>
          </a>
          <a class="button" href="https://www.linkedin.com/in/artur-ismailov">
            <span class="icon">
              <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
            </span>
          </a>
          <a class="button" href="https://t.me/slashmankek">
            <span class="icon">
              <fa-icon [icon]="['fab', 'telegram']" size="2x"></fa-icon>
            </span>
          </a>
          <a class="button" href="https://twitter.com/slashmankek">
            <span class="icon">
              <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>