.section.features {
    background-color:#121212;
}

.section {
    padding: 5.0rem 1.5rem;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

*, ::after, ::before {
    box-sizing: inherit;
}

@media screen and (min-width: 769px){
.columns:not(.is-desktop) {
    display: flex;
}
}

@media screen and (min-width: 769px){
.column.is-half, .column.is-half-tablet {
    flex: none;
    width: 50%;
}
}

.columns.is-centered {
    justify-content: center;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.has-text-centered {
    text-align: center !important;
}

.section.features .box {
    background-color: #272727;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12), 0px 0px 2px rgba(0,0,0,0.08);
    height: 100%;
    padding: 30px;
}

img {
    height: auto;
    max-width: 100%;
}

.columns.is-centered h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px;
}

.section.features h3 {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px;
}

h2, h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p.body2 {
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

.tags.are-normal{
    margin-bottom: -5px;
    margin-top: -25px;
}