<body class="has-navbar-fixed-top">
    <section class="section features has-text-centered">
        <div class="container">
            <div class="columns is-centered">
                <h2>Development of software for train simulators</h2>
            </div>
            <div class="columns is-centered">
                <div class="column is-half has-text-centered">
                    <div class="box"> 
                        <div class="tags are-normal">
                            <span class="tag is-dark">WPF</span>
                            <span class="tag is-dark">Material Design</span>
                            <span class="tag is-dark">MVVM</span>
                        </div>
                        <img src="/assets/csharp.jpeg">
                        <h3>Emulators</h3>
                        <p class="body2">
                            Development of emulators for duplicating the driver's consoles of various trains, 
                            with the exact implementation of the operation of controls, dashboards, including monometers 
                            and all information devices that help the driver to drive the train along the railway. 
                        </p>
                    </div>
                </div>
                <div class="column is-half has-text-centered">
                    <div class="box"> 
                        <div class="tags are-normal">
                            <span class="tag is-dark">Angular 7.0</span>
                            <span class="tag is-dark">RxJS</span>
                            <span class="tag is-dark">HTML5</span>
                            <span class="tag is-dark">CSS3</span>
                            <span class="tag is-dark">Material Design</span>
                            <span class="tag is-dark">Bootstrap</span>
                        </div>
                        <img src="/assets/spa.png">
                        <h3>SPA "Menu instructor"</h3>
                        <p class="body2">Development of a single-page application providing teaching staff 
                            and instructors the ability to manage a student's trip session on a train simulator.</p>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-half has-text-centered">
                    <div class="box"> 
                        <div class="tags are-normal">
                            <span class="tag is-dark">.Net Core</span>
                            <span class="tag is-dark">.Net Framework</span>
                            <span class="tag is-dark">PostgreSQL</span>
                            <span class="tag is-dark">NetMQ</span>
                            <span class="tag is-dark">Swagger API</span>
                            <span class="tag is-dark">xUnit</span>
                        </div>
                        <img src="/assets/server.png">
                        <h3>Server part on Net Core (Net Framework)</h3>
                        <p class="body2">Writing an API, web API for interacting with various clients, 
                            working with a NetMQ broker (Pub-Sub), for exchanging data over TCP, 
                            using CQRS to separate into commands and requests, for working with a database, 
                            setting up migrations and repositories, 
                            using IOC- containers (Microsoft.Extensions.Dependencyinjection + Scrutor, Autofac, Windsor Castle) 
                            to define loosely coupled code and full control over the life cycle of each service, 
                            partial writing of the server logic (pneumatics, electrics, dynamics, dashboard behavior).</p>
                    </div>
                </div>
                <div class="column is-half has-text-centered">
                    <div class="box"> 
                        <div class="tags are-normal">
                            <span class="tag is-dark">.Net Standart</span>
                        </div>
                        <img src="/assets/library.jpeg">
                        <h3>Libraries on Net Standart</h3>
                        <p class="body2"> 
                            Writing small in-project libraries for working with the COM port protocol, 
                            for receiving signals from hardware (for example, a driver's panel, various keyboards for additional devices).
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <h2> Participation in the development of automated medical laboratories </h2>
            </div>
            <div class="columns is-centered">
                <div class="column is-half has-text-centered">
                    <div class="box"> 
                        <div class="tags are-normal">
                            <span class="tag is-dark">.Net Core</span>
                            <span class="tag is-dark">.Net Framework</span>
                            <span class="tag is-dark">nUnit</span>
                            <span class="tag is-dark">XML</span>
                        </div>
                        <img src="/assets/core.jpg">
                        <h3>Modular Application Platform Core of the medical laboratory</h3>
                        <p class="body2">
                            Participation in MAP Core migration from .Net Framework 4.6.2 to .Net Core 2.1, 
                            developing new features for the core, building complex tree structures, 
                            optimizing code and algorithms for maximum performance. 
                            General refactoring of code smells.
                        </p>
                    </div>
                </div>
                <div class="column is-half has-text-centered">
                    <div class="box"> 
                        <div class="tags are-normal">
                            <span class="tag is-dark">WPF</span>
                            <span class="tag is-dark">MEF</span>
                            <span class="tag is-dark">Helix Tool Kit</span>
                            <span class="tag is-dark">Specflow</span>
                            <span class="tag is-dark">XML</span>
                        </div>
                        <img src="/assets/wte.jpg">
                        <h3>Worktable Editor application</h3>
                        <p class="body2">
                            WTE tool serves for virtual construction of workbench dispositions 
                            for automated laboratories in user-friendly 3D outlook.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>