<body class="has-navbar-fixed-top">
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'/>
<section class="hero is-dark is-bold has-text-centered is-fullheight-with-navbar">
  <div>
    <p id="error">CO<span>MI</span>NG</p>
    <p id="code">S<span>OO</span><span>N</span></p>
  </div>
</section>
</body>
