<body class="has-navbar-fixed-top">
  <div class="is-form-page animate-fadeUp">
    <section class="is-white has-text-centered">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-quarters">
            <h1 id="thanks" class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Thanks for taking the time
              to reach me. How can I help you today?</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="is-white">
      <div class="container">
        <script>
          function onSubmit(token) {
            document.getElementById("invisible-recaptcha-form").submit();
          }
        </script>
        <form id="invisible-recaptcha-form" accept-charset="UTF-8" action="https://usebasin.com/f/88390300efc4"
          method="POST">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="field">
                <label class="label">Name</label>
                <div class="control is-expanded">
                  <input class="input is-large" name="name" type="text" required="">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Email</label>
                <div class="control is-expanded">
                  <input class="input is-large" name="email" type="email" required="">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="column">
              <div class="field">
                <label class="label">Message</label>
                <div class="control is-expanded">
                  <textarea class="textarea is-large" name="message" rows="5" required=""></textarea>
                </div>
              </div>
              <div class="field is-hidden">
                <label class="is-hidden"></label>
                <div class="control is-expanded is-hidden">
                  <input class="is-hidden" name="bot_vortex" type="hidden">
                </div>
              </div>
            </div>
          </div>
          <div id="buttonSend" class="columns is-centered">
            <div class="column is-one-third">
              <div class="field">
                <div class="control">
                  <div>
                    <div class="grecaptcha-badge" data-style="inline"
                      style="width: 256px; height: 60px; position: fixed; visibility: hidden; display: block; transition: right 0.3s ease 0s; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                      <div class="grecaptcha-logo"><iframe
                          src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy&amp;co=aHR0cHM6Ly9tYXR0ZmFybGV5LmNhOjQ0Mw..&amp;hl=ru&amp;v=P6KLRNy7h3K160ZmYNUOAce7&amp;size=invisible&amp;badge=inline&amp;cb=b4zjnu93p5vf"
                          width="256" height="60" role="presentation" name="a-56vikk4znerb" frameborder="0"
                          scrolling="no"
                          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                      </div>
                      <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
                        name="g-recaptcha-response" class="g-recaptcha-response"
                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                    </div><iframe style="display: none;"></iframe>
                  </div><button class="button is-primary is-outlined is-medium is-fullwidth is-rounded g-recaptcha"
                    data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy" data-callback="onSubmit"
                    data-badge="inline">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</body>