.has-text-centered {
    text-align: center !important;
}
.title, .subtitle {
    word-break: break-word;
    line-height: 1.125;
    color: #ffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "eurostile", sans-serif;
    font-weight: 400;
}
.animate-fadeUp {
    -webkit-animation: fadeIn 2s, translate-up 1s;
    animation: fadeIn 2s, translate-up 1s;
    background-image: url(/assets/Black-Animation-Background.svg);
    alt:"altername name";
    margin-top: 10px;
}
.label{
    color: #ffff;
}
 
  @media screen and (max-width: 1919px) and (min-width: 1381px)  {
    #thanks{
        padding: 4%;
    }
  }
  
  @media screen and (min-width: 1920px){
    #thanks{
        padding: 7%;
    }
  }

  @media screen and (max-width: 1380px)  {
    #buttonSend{
        padding: 3%;
    }
  }

  @media screen and (max-width: 1919px) and (min-width: 1381px)  {
    #buttonSend{
        padding: 5%;
    }
  }
  
  @media screen and (min-width: 1920px){
    #buttonSend{
        padding: 9%;
    }
  }

