@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}
.container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
}
.hero a {
  position: absolute;
  left: 48%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Open Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.hero a:hover {
  opacity: 0.5;
}
#main a {
  padding-top: 70px;
  bottom: -30px;
}
#main a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media screen and (max-width: 1380px) {
  #workImage{
    width: 300px;
  }
}


@media screen and (max-width: 1919px) and (min-width: 1381px)  {
  #workImage{
    width: 400px;
  }
}

@media screen and (min-width: 1920px){
  #workImage{
    width: 600px;
  }
}

#bio a {
  padding-top: 70px;
  bottom: -40px;
}
@media screen and (max-width: 600px) {
  #bio a {
    padding-top: 100px;
    bottom: -40px;
  }
}
#bio a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#bio a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#bio a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#bio a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#main{
  padding: 2rem 1.5rem
}
.section {
  padding: 3rem 1.5rem;
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 2rem 1.5rem 8rem 1.5rem;
  }
}
@media screen, print {
  #skill {
    background-image: url(/assets/designP.jpg);
  }
}
#skillContainer {
  margin-top: 0%;
}
@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}
.columns.is-centered {
  -webkit-box-pack: center;
  justify-content: center;
}
.hero.is-primary.biog .columns:last-child{
  margin-bottom: 2%;
}
.avatar{
  width: 170px;
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.hero.is-dark .title {
  color: #fff;
}
.hero.is-primary {
  background-image: url(/assets/biography1.gif);
  color: #fff;
}
.hero.is-primary .title {
  color: #fff;
}
.hero.is-primary .subtitle {
  color: #fff;
  line-height: 1.5;
}
.subtitle {
  line-height: 1.5;
}
.title {
  word-break: break-word;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.box {
  background-color: #27292d;
  box-shadow: 0px 5px 5px 3px rgba(233, 240, 243, 0.5);
  color: #ffffff;
  display: block;
}
.box {
  border-radius: 12px;
}
.hero.skills .box {
  padding: 0;
}

@media screen and (min-width: 769px) {
  .hero.skills .box .content .columns .column {
    border-bottom: 0px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
  }
  .hero.skills .box .content .columns .column:last-child {
    border-right: none;
    border-bottom: none;
  }
}
.has-text-centered {
  text-align: center !important;
}
.column {
  display: block;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}
.hero.skills .box .content .columns .column figure.image img.is-skill-icon {
  height: 48px;
  width: auto;
}
.image {
  display: block;
  position: relative;
}
.hero.skills .box .content .columns .column figure.image {
  margin: 0 auto 2em;
}
.content h1:not(:first-child) {
  font-weight: 400;
  margin-top: 1em;
  color: #fff;
}
.has-text-weight-normal {
  font-weight: 400 !important;
}
.has-text-primary {
  color: #712cca !important;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hero.skills .box .content .columns .column {
  padding: 15px 45px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: 600;
  color: #141c3a;
}
.is-size-4 {
  font-size: 1.5rem !important;
}
@media screen and (min-width: 769px){
.hero.skills .box .content .columns .column p {
    font-size: 17px;
}
}
.content p:not(:last-child) {
  margin-bottom: 1em;
}
@media screen and (min-width: 1024px){
.content p {
    line-height: 30px;
}
}
section.skills .box .content .columns .column ul {
  list-style: none;
  margin-left: 2%;
  margin-top: 0;
}
@media screen and (min-width: 1024px){
.is-size-5-desktop {
    font-size: 1.25rem !important;
}
}
@media screen and (max-width: 599px) {
  #buttonUp{
    position: fixed;
    margin-bottom: 5px;
    margin-left: -28px;
  }
}

@media screen and (min-width:600px) and (max-width:1299px) {
  #buttonUp{
    position: fixed;
    margin-bottom: 5px;
    margin-left: -18px;
  }
}

@media screen and (min-width: 1300px) {
  #buttonUp{
    position: fixed;
    margin-bottom: 5px;
    margin-left: auto;
  }
}