<body class="has-navbar-fixed-top">
  <section id="main" class="hero is-dark is-bold has-text-centered is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <h1 class="title is-spaced is-size-2-desktop is-size-2-tablet is-size-4-mobile">Back-end &amp; Front-end
              Developer</h1>
            <h2 class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">I design and code beautifully
              simple things, and I love what
              I do.</h2>
            <svg version="1.1" id="workImage" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 633.99 790.77" style="enable-background:new 0 0 633.99 790.77;"
              xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #221563;
                }

                .st1 {
                  fill: #0D0830;
                }

                .st2 {
                  fill: #D67525;
                }

                .st3 {
                  fill: #F9A34E;
                }

                .st4 {
                  fill: #163E6D;
                }

                .st5 {
                  fill: #0A2056;
                }

                .st6 {
                  fill: #212735;
                }

                .st7 {
                  fill: #100F1E;
                }

                .st8 {
                  fill: #1C1930;
                }

                .st9 {
                  fill: #03122B;
                }

                .st10 {
                  fill: #0F3860;
                }

                .st11 {
                  fill: #061A44;
                }

                .st12 {
                  fill: #4F779E;
                }

                .st13 {
                  fill: #D65B56;
                }

                .st14 {
                  fill: #811E13;
                }

                .st15 {
                  fill: #EF9292;
                }

                .st16 {
                  fill: #D15437;
                }

                .st17 {
                  fill: #F4F4F4;
                }

                .st18 {
                  fill: #EAC8C7;
                }

                .st19 {
                  fill: #B7C6E5;
                }

                .st20 {
                  fill: #D3A7A7;
                }

                .st21 {
                  fill: #EBEBF7;
                }

                .st22 {
                  fill: #EFEFEF;
                }

                .st23 {
                  fill: #0F0833;
                }

                .st24 {
                  fill: #1E1356;
                }

                .st25 {
                  fill: #3333BC;
                }

                .st26 {
                  fill: #514ED8;
                }

                .st27 {
                  fill: #FFD8D7;
                }
              </style>
              <rect x="150.5" y="47.99" class="st0" width="154.03" height="237.45" />
              <rect x="318.95" y="47.99" class="st0" width="154.04" height="237.45" />
              <rect x="150.1" y="299.63" class="st0" width="154.03" height="237.45" />
              <rect x="318.95" y="299.29" class="st0" width="154.04" height="237.45" />
              <polygon class="st1" points="150.5,87.82 304.53,241.85 304.53,47.99 150.5,47.99 " />
              <polygon class="st1" points="318.95,47.99 318.95,256.27 348.12,285.44 472.99,285.44 472.99,47.99 " />
              <polygon class="st1" points="472.99,410.31 472.99,299.29 361.97,299.29 " />
              <path class="st2" d="M481.36,191.99c-0.5,1.4-1.08,2.77-1.75,4.08c-0.33,0.65-0.68,1.29-1.05,1.91
                         c-5.59,9.51-15.64,16.09-27.29,16.91c-0.8,0.05-1.61,0.08-2.42,0.08c-12.66,0-23.72-6.82-29.71-16.99c-1.12-1.89-2.06-3.89-2.8-5.99
                         H481.36z" />
              <path class="st3"
                d="M481.36,191.99c-0.5,1.4-1.08,2.77-1.75,4.08c-0.33,0.65-0.68,1.29-1.05,1.91
                         c-5.59,9.51-15.64,16.09-27.29,16.91c-10.29-2-18.64-8.41-23.43-16.91c-1.07-1.9-1.97-3.9-2.67-5.99H481.36z" />
              <path class="st4" d="M493.82,194.23h-89.95c0-7.24,1.71-14.08,4.75-20.14c3.37-6.7,8.36-12.45,14.46-16.72
                         c1.17-0.82,2.37-1.59,3.62-2.29c0.19-0.11,0.38-0.21,0.57-0.32c1.39-0.76,2.82-1.45,4.29-2.07c0.31-0.13,0.62-0.25,0.93-0.37
                         c0.47-0.19,0.95-0.36,1.43-0.53c0.31-0.11,0.62-0.22,0.93-0.32c0.34-0.11,0.69-0.22,1.04-0.33c0.34-0.1,0.68-0.2,1.03-0.29
                         c0.32-0.09,0.64-0.17,0.96-0.26c0.13-0.03,0.26-0.06,0.4-0.09c0.31-0.08,0.62-0.15,0.92-0.21c0.39-0.09,0.77-0.17,1.16-0.24
                         c0.98-0.19,1.97-0.34,2.97-0.46c0.31-0.04,0.62-0.08,0.93-0.1c0.28-0.04,0.56-0.06,0.84-0.08c0.31-0.03,0.62-0.05,0.93-0.07
                         c0.32-0.02,0.64-0.04,0.96-0.05c0.25-0.01,0.5-0.02,0.76-0.02c0.36-0.02,0.73-0.02,1.1-0.02c0.31,0,0.63,0,0.94,0.01
                         c0.28,0.01,0.56,0.01,0.83,0.03c0.38,0.01,0.75,0.03,1.12,0.06c0.29,0.01,0.57,0.03,0.86,0.06c0.75,0.06,1.49,0.14,2.22,0.24
                         c0.05,0,0.1,0.01,0.14,0.02c0.34,0.04,0.68,0.09,1.02,0.15c1.12,0.17,2.22,0.39,3.3,0.65c0.73,0.17,1.44,0.36,2.15,0.57
                         c0.35,0.1,0.71,0.21,1.06,0.32c2.72,0.86,5.33,1.98,7.79,3.32c0.32,0.17,0.64,0.35,0.95,0.53c0.39,0.22,0.78,0.45,1.16,0.69
                         c0.61,0.38,1.22,0.77,1.81,1.18c0.3,0.2,0.6,0.41,0.89,0.62c0.29,0.21,0.58,0.42,0.87,0.64c1.43,1.08,2.79,2.25,4.09,3.5
                         c0.26,0.25,0.52,0.5,0.77,0.76s0.5,0.51,0.75,0.78c0.25,0.26,0.49,0.52,0.73,0.79c0.24,0.27,0.48,0.54,0.71,0.81
                         c0.42,0.48,0.82,0.98,1.22,1.48c0,0,0.01,0.01,0.01,0.02c0.4,0.51,0.79,1.03,1.17,1.56c0.04,0.05,0.08,0.1,0.11,0.15
                         c0.15,0.21,0.29,0.42,0.43,0.63c0.06,0.08,0.12,0.16,0.17,0.24c0.12,0.16,0.23,0.33,0.33,0.49c0.04,0.06,0.08,0.12,0.11,0.17
                         c0.34,0.52,0.67,1.04,0.98,1.58c0.33,0.55,0.65,1.12,0.96,1.7c0.27,0.49,0.52,0.99,0.77,1.5c0.08,0.16,0.16,0.32,0.23,0.48
                         c0.23,0.49,0.46,0.98,0.67,1.47c0.04,0.09,0.08,0.18,0.11,0.27c0.21,0.5,0.42,1,0.61,1.51c0.72,1.89,1.32,3.85,1.78,5.85
                         c0.14,0.61,0.27,1.22,0.38,1.84c0.26,1.37,0.45,2.76,0.58,4.17c0.03,0.34,0.06,0.68,0.08,1.02
                         C493.78,192.14,493.82,193.18,493.82,194.23z" />
              <path class="st5" d="M493.71,191.03c-0.02-0.34-0.05-0.68-0.08-1.02c-0.13-1.41-0.32-2.8-0.58-4.17c-0.11-0.62-0.24-1.23-0.38-1.84
                         c-0.46-2-1.06-3.96-1.78-5.85c-0.19-0.51-0.4-1.01-0.61-1.51c-0.03-0.09-0.07-0.18-0.11-0.27c-0.21-0.49-0.44-0.98-0.67-1.47
                         c-0.07-0.16-0.15-0.32-0.23-0.48c-0.25-0.51-0.5-1.01-0.77-1.5c-0.31-0.58-0.63-1.15-0.96-1.7c-0.31-0.54-0.64-1.06-0.98-1.58
                         c-0.03-0.05-0.07-0.11-0.11-0.17c-0.1-0.16-0.21-0.33-0.33-0.49c-0.05-0.09-0.11-0.17-0.17-0.26c-0.14-0.21-0.29-0.41-0.43-0.61
                         c-0.03-0.05-0.07-0.1-0.11-0.15c-0.38-0.53-0.77-1.05-1.17-1.56c0-0.01-0.01-0.02-0.01-0.02c-0.4-0.5-0.8-1-1.22-1.48
                         c-0.23-0.27-0.47-0.54-0.71-0.81c-0.24-0.27-0.48-0.53-0.73-0.79c-0.25-0.27-0.5-0.52-0.75-0.78s-0.51-0.51-0.77-0.76
                         c-1.3-1.25-2.66-2.42-4.09-3.5c-0.29-0.22-0.58-0.43-0.87-0.64c-0.29-0.21-0.59-0.42-0.89-0.62c-0.59-0.41-1.2-0.8-1.81-1.18
                         c-0.38-0.24-0.77-0.47-1.16-0.69c-0.31-0.18-0.63-0.36-0.95-0.53c-2.46-1.34-5.07-2.46-7.79-3.32c-0.35-0.11-0.71-0.22-1.06-0.32
                         c-0.71-0.21-1.42-0.4-2.15-0.57c-1.08-0.26-2.18-0.48-3.3-0.65c-0.34-0.06-0.68-0.11-1.02-0.15c-0.04-0.01-0.09-0.02-0.14-0.02
                         c-0.73-0.1-1.47-0.18-2.22-0.24V13.39h-7.5v135.94c-0.28,0.02-0.56,0.04-0.84,0.08c-0.31,0.02-0.62,0.06-0.93,0.1
                         c-1,0.12-1.99,0.27-2.97,0.46c-0.39,0.07-0.77,0.15-1.16,0.24c-0.3,0.06-0.61,0.13-0.92,0.21c-0.14,0.03-0.27,0.06-0.4,0.09
                         c-0.32,0.09-0.64,0.17-0.96,0.26c-0.35,0.09-0.69,0.19-1.03,0.29c-0.35,0.11-0.7,0.22-1.04,0.33c-0.31,0.1-0.62,0.21-0.93,0.32
                         c-0.48,0.17-0.96,0.34-1.43,0.53c-0.31,0.12-0.62,0.24-0.93,0.37c-1.47,0.62-2.9,1.31-4.29,2.07c-0.19,0.11-0.38,0.21-0.57,0.32
                         c5.73,1.03,12.06,2.58,18.4,4.9c2.51,0.91,5.02,1.94,7.5,3.12c12.16,5.75,23.47,14.79,29.58,28.98c0.3,0.7,0.59,1.42,0.87,2.15
                         h10.77C493.82,193.1,493.78,192.06,493.71,191.03z" />
              <polygon class="st6" points="563.56,193.69 563.56,176.15 575.94,176.15 575.94,174.15 546.03,174.15 546.03,156.19 569.57,156.19 
                         569.57,154.19 529,154.19 529,156.19 544.03,156.19 544.03,174.15 518.17,174.15 518.17,176.15 561.56,176.15 561.56,193.69 
                         530.49,193.69 530.49,195.69 589.1,195.69 589.1,193.69 " />
              <polygon class="st6" points="87.01,251.29 87.01,249.29 45.64,249.29 45.64,231.32 62.37,231.32 62.37,229.32 21.81,229.32 
                         21.81,231.32 43.64,231.32 43.64,249.29 29.24,249.29 29.24,251.29 61.16,251.29 61.16,268.83 16.92,268.83 16.92,270.83 
                         75.54,270.83 75.54,268.83 63.16,268.83 63.16,251.29 " />
              <polygon class="st6" points="387.02,595.59 387.02,593.59 345.64,593.59 345.64,575.63 362.38,575.63 362.38,573.63 321.81,573.63 
                         321.81,575.63 343.64,575.63 343.64,593.59 329.25,593.59 329.25,595.59 361.17,595.59 361.17,613.13 316.93,613.13 316.93,615.13 
                         375.55,615.13 375.55,613.13 363.17,613.13 363.17,595.59 " />
              <path class="st7"
                d="M446,518.3v108.51l-14.35-14.35V518.3c0-1.97,1.31-3.56,2.92-3.56h8.52C444.71,514.74,446,516.33,446,518.3z" />
              <path class="st8" d="M496.19,752.79c0-1.64-1.39-2.96-3.1-2.96H470.2l0.03-0.02L446,749.83V626.14l-14.35-13.68v137.37h-49.94
                         c-1.71,0-3.1,1.32-3.1,2.96v3.9c0,0.08,0.02,0.14,0.02,0.22h-0.02v4.77c0,0.39,0.33,0.71,0.75,0.71h116c0.46,0,0.83-0.35,0.83-0.78
                         v-4.69h-0.02c0-0.08,0.02-0.14,0.02-0.22L496.19,752.79L496.19,752.79z" />
              <path class="st8" d="M589.09,493.07v19.62c0,2.73-1.82,4.94-4.06,4.94H288.61c-2.24,0-4.06-2.21-4.06-4.94v-19.7
                         c0.04-2.69,1.84-4.85,4.06-4.85h296.42C587.27,488.14,589.09,490.34,589.09,493.07z" />
              <rect x="284.55" y="506.81" class="st7" width="304.54" height="4" />
              <g>
                <g>
                  <path class="st8" d="M143.8,598.55v62.21c0,1.59-1.11,2.89-2.48,2.89h-9.91c-1.38,0-2.5-1.29-2.5-2.89v-62.21
                             c0-1.61,1.11-2.9,2.5-2.9h9.91C142.69,595.65,143.8,596.95,143.8,598.55z" />
                  <path class="st8"
                    d="M146.31,666.58h-20.04c-1.26,0-2.22,1.18-2.08,2.51l3.79,35.59l3.14,29.32c0.11,1.14,1.01,2,2.08,2h6.94
                             c1.07,0,1.98-0.87,2.08-2.03l2.52-26.56l3.65-38.36C148.52,667.73,147.55,666.58,146.31,666.58z" />
                  <path class="st8" d="M127.87,719.08c-3.21,0.51-6.42,1.03-9.63,1.54c-7.09,1.13-14.17,2.25-21.26,3.38
                             c-7.7,1.23-15.42,2.47-23.12,3.71c-3.07,0.5-6.15,1-9.21,1.5c-2.58,0.41-5.35,0.66-7.87,1.37c-0.21,0.07-0.57,0.36-0.66,0.57
                             c-0.38,0.9-0.24,3.76-0.24,4.86H45.71c-0.09-0.96-0.09-1.93-0.04-2.89c0.07-1.54-0.09-3.12,0.86-4.45
                             c1.73-2.4,5.93-3.11,8.54-4.02c6.56-2.27,13.21-4.26,19.86-6.25c7.81-2.32,15.67-4.56,23.53-6.76c6.55-1.84,13.11-3.64,19.67-5.42
                             c2.74-0.74,5.48-1.48,8.23-2.21l0.76,7.6L127.87,719.08z" />
                  <path class="st8"
                    d="M62.57,750.91c0.04,0.88-0.03,1.75-0.19,2.6c-0.96,5.01-5.25,8.87-10.55,9.11c-3.49,0.14-6.67-1.33-8.83-3.74
                             c-1.68-1.87-2.75-4.31-2.87-7c-0.27-6.19,4.53-11.42,10.74-11.69C57.07,739.91,62.3,744.72,62.57,750.91z" />
                  <path class="st8" d="M147.51,751.02c0.26,6.2-4.55,11.44-10.74,11.71c-0.36,0.01-0.71,0.01-1.07-0.01
                             c-5.72-0.29-10.37-4.89-10.62-10.72c-0.27-6.19,4.53-11.42,10.74-11.69c5.05-0.23,9.47,2.94,11.07,7.49
                             C147.26,748.8,147.47,749.88,147.51,751.02z" />
                  <path class="st8" d="M233.03,751.99c-0.27,6.19-5.5,10.99-11.69,10.74c-0.8-0.03-1.58-0.16-2.34-0.36
                             c-5.03-1.3-8.64-5.96-8.4-11.35c0.27-6.19,5.5-10.99,11.69-10.72c2.97,0.13,5.62,1.4,7.54,3.35
                             C231.93,745.8,233.17,748.77,233.03,751.99z" />
                  <path class="st8"
                    d="M145.28,719.08c3.21,0.51,6.42,1.03,9.63,1.54c7.09,1.13,14.17,2.25,21.26,3.38
                             c7.7,1.23,15.42,2.47,23.12,3.71c3.07,0.5,6.15,1,9.21,1.5c2.58,0.41,5.35,0.66,7.87,1.37c0.21,0.07,0.57,0.36,0.66,0.57
                             c0.38,0.9,0.24,3.76,0.24,4.86h10.17c0.09-0.96,0.09-1.93,0.04-2.89c-0.07-1.54,0.09-3.12-0.86-4.45
                             c-1.73-2.4-5.93-3.11-8.54-4.02c-6.56-2.27-13.21-4.26-19.86-6.25c-7.81-2.32-15.67-4.56-23.53-6.76
                             c-6.55-1.84-13.11-3.64-19.66-5.42c-2.74-0.74-5.48-1.48-8.23-2.21l-0.76,7.6L145.28,719.08z" />
                  <path class="st8" d="M229.79,581.45c-0.79,1.4-1.61,2.78-2.46,4.15c-0.87,1.4-1.87,2.85-3.45,3.51c-0.95,0.4-2.01,0.46-3.05,0.51
                             c-4.28,0.22-8.55,0.42-12.83,0.6c-20.2,0.85-40.43,1.27-60.65,1.26c-20.23-0.01-40.45-0.44-60.65-1.3
                             c-0.53-0.02-1.07-0.04-1.6-0.07c-0.42-0.02-0.84-0.04-1.27-0.06c-6.58-0.35-13.24-1.08-18.95-4.06
                             c-4.79-2.51-8.51-6.46-11.17-10.98c-1.22-2.07-2.21-4.26-3-6.49c-0.01-0.02-0.01-0.05-0.02-0.07c-0.26-0.73-0.49-1.47-0.7-2.2
                             c-0.05-0.15-0.09-0.3-0.14-0.45c-0.2-0.71-0.38-1.43-0.55-2.15c-0.03-0.16-0.07-0.32-0.11-0.48c-0.16-0.73-0.3-1.46-0.43-2.2
                             c-0.01-0.09-0.03-0.18-0.04-0.27c-0.12-0.74-0.23-1.48-0.32-2.21c-0.01-0.07-0.02-0.13-0.02-0.19c-0.09-0.78-0.16-1.56-0.22-2.35
                             c-0.01-0.08-0.01-0.16-0.02-0.25c-0.05-0.8-0.09-1.61-0.12-2.41v-0.03c-0.01-0.57-0.02-1.13-0.02-1.7c0-2.26,0.11-4.51,0.29-6.77
                             c0.2-2.39,0.48-4.8,0.81-7.21c0.13-0.98,0.27-1.96,0.41-2.95c0.02-0.11,0.03-0.21,0.05-0.32c0.15-1.05,0.31-2.1,0.45-3.15
                             c3.84-26.64,6.47-52.89,4.51-79.88c-0.63-8.54-1.6-17.05-2.73-25.56c-1.29-9.61-2.77-19.21-4.2-28.81
                             c-1.25-8.47-2.46-16.95-3.43-25.44c-1.04-9.13-4.65-19.9,1.41-28.19c6.15-8.42,19.89-13.62,30.54-12.52
                             c2.22,0.23,4.44,0.93,6.17,2.19c0.19,0.13,0.36,0.27,0.53,0.41c0.29,0.26,0.57,0.52,0.82,0.81c2.27,2.54,2.83,6.32,2.71,10.44
                             c-0.17,6.25-1.9,13.25-1.57,17.78c0.77,10.56,0.85,19.46,1.08,28.5c0,0,0,0,0,0.01v0.01c0.1,4.18,0.24,8.39,0.49,12.8
                             c0.52,9.28,0.55,19.19,0.43,28.48c-0.26,22.43-6.78,43.5-11.42,65.36c-0.05,0.26-0.11,0.53-0.16,0.8
                             c-0.06,0.33-0.13,0.65-0.19,0.99c-0.07,0.33-0.12,0.68-0.18,1.02c-0.03,0.13-0.05,0.27-0.07,0.41c-0.03,0.14-0.05,0.28-0.08,0.43
                             c-0.06,0.39-0.12,0.79-0.18,1.19v0.06c-0.04,0.22-0.07,0.43-0.1,0.64c-0.04,0.3-0.08,0.61-0.12,0.92l-2.3-0.75
                             c0,0-11.57,32.13-7.52,43.13c4.05,10.99,8.55,24.28,43.05,24.38c34.5,0.11,84.01-0.5,120,10.05
                             C228.31,581.06,229.07,581.27,229.79,581.45z" />
                </g>
                <g>
                  <path class="st8" d="M143.8,598.55v62.21c0,1.59-1.11,2.89-2.48,2.89h-9.91c-1.38,0-2.5-1.29-2.5-2.89v-62.21
                             c0-1.61,1.11-2.9,2.5-2.9h9.91C142.69,595.65,143.8,596.95,143.8,598.55z" />
                  <path class="st8"
                    d="M146.31,666.58h-20.04c-1.26,0-2.22,1.18-2.08,2.51l3.79,35.59l3.14,29.32c0.11,1.14,1.01,2,2.08,2h6.94
                             c1.07,0,1.98-0.87,2.08-2.03l2.52-26.56l3.65-38.36C148.52,667.73,147.55,666.58,146.31,666.58z" />
                  <path class="st8" d="M127.87,719.08c-3.21,0.51-6.42,1.03-9.63,1.54c-7.09,1.13-14.17,2.25-21.26,3.38
                             c-7.7,1.23-15.42,2.47-23.12,3.71c-3.07,0.5-6.15,1-9.21,1.5c-2.58,0.41-5.35,0.66-7.87,1.37c-0.21,0.07-0.57,0.36-0.66,0.57
                             c-0.38,0.9-0.24,3.76-0.24,4.86H45.71c-0.09-0.96-0.09-1.93-0.04-2.89c0.07-1.54-0.09-3.12,0.86-4.45
                             c1.73-2.4,5.93-3.11,8.54-4.02c6.56-2.27,13.21-4.26,19.86-6.25c7.81-2.32,15.67-4.56,23.53-6.76c6.55-1.84,13.11-3.64,19.67-5.42
                             c2.74-0.74,5.48-1.48,8.23-2.21l0.76,7.6L127.87,719.08z" />
                  <path class="st8"
                    d="M62.57,750.91c0.04,0.88-0.03,1.75-0.19,2.6c-0.96,5.01-5.25,8.87-10.55,9.11c-3.49,0.14-6.67-1.33-8.83-3.74
                             c-1.68-1.87-2.75-4.31-2.87-7c-0.27-6.19,4.53-11.42,10.74-11.69C57.07,739.91,62.3,744.72,62.57,750.91z" />
                  <path class="st8" d="M147.51,751.02c0.26,6.2-4.55,11.44-10.74,11.71c-0.36,0.01-0.71,0.01-1.07-0.01
                             c-5.72-0.29-10.37-4.89-10.62-10.72c-0.27-6.19,4.53-11.42,10.74-11.69c5.05-0.23,9.47,2.94,11.07,7.49
                             C147.26,748.8,147.47,749.88,147.51,751.02z" />
                  <path class="st8" d="M233.03,751.99c-0.27,6.19-5.5,10.99-11.69,10.74c-0.8-0.03-1.58-0.16-2.34-0.36
                             c-5.03-1.3-8.64-5.96-8.4-11.35c0.27-6.19,5.5-10.99,11.69-10.72c2.97,0.13,5.62,1.4,7.54,3.35
                             C231.93,745.8,233.17,748.77,233.03,751.99z" />
                  <path class="st8"
                    d="M145.28,719.08c3.21,0.51,6.42,1.03,9.63,1.54c7.09,1.13,14.17,2.25,21.26,3.38
                             c7.7,1.23,15.42,2.47,23.12,3.71c3.07,0.5,6.15,1,9.21,1.5c2.58,0.41,5.35,0.66,7.87,1.37c0.21,0.07,0.57,0.36,0.66,0.57
                             c0.38,0.9,0.24,3.76,0.24,4.86h10.17c0.09-0.96,0.09-1.93,0.04-2.89c-0.07-1.54,0.09-3.12-0.86-4.45
                             c-1.73-2.4-5.93-3.11-8.54-4.02c-6.56-2.27-13.21-4.26-19.86-6.25c-7.81-2.32-15.67-4.56-23.53-6.76
                             c-6.55-1.84-13.11-3.64-19.66-5.42c-2.74-0.74-5.48-1.48-8.23-2.21l-0.76,7.6L145.28,719.08z" />
                  <path class="st8" d="M229.79,581.45c-0.79,1.4-1.61,2.78-2.46,4.15c-0.87,1.4-1.87,2.85-3.45,3.51c-0.95,0.4-2.01,0.46-3.05,0.51
                             c-4.28,0.22-8.55,0.42-12.83,0.6c-20.2,0.85-40.43,1.27-60.65,1.26c-20.23-0.01-40.45-0.44-60.65-1.3
                             c-0.53-0.02-1.07-0.04-1.6-0.07c-0.42-0.02-0.84-0.04-1.27-0.06c-6.58-0.35-13.24-1.08-18.95-4.06
                             c-4.79-2.51-8.51-6.46-11.17-10.98c-1.22-2.07-2.21-4.26-3-6.49c-0.01-0.02-0.01-0.05-0.02-0.07c-0.26-0.73-0.49-1.47-0.7-2.2
                             c-0.05-0.15-0.09-0.3-0.14-0.45c-0.2-0.71-0.38-1.43-0.55-2.15c-0.03-0.16-0.07-0.32-0.11-0.48c-0.16-0.73-0.3-1.46-0.43-2.2
                             c-0.01-0.09-0.03-0.18-0.04-0.27c-0.12-0.74-0.23-1.48-0.32-2.21c-0.01-0.07-0.02-0.13-0.02-0.19c-0.09-0.78-0.16-1.56-0.22-2.35
                             c-0.01-0.08-0.01-0.16-0.02-0.25c-0.05-0.8-0.09-1.61-0.12-2.41v-0.03c-0.01-0.57-0.02-1.13-0.02-1.7c0-2.26,0.11-4.51,0.29-6.77
                             c0.2-2.39,0.48-4.8,0.81-7.21c0.13-0.98,0.27-1.96,0.41-2.95c0.02-0.11,0.03-0.21,0.05-0.32c0.15-1.05,0.31-2.1,0.45-3.15
                             c3.84-26.64,6.47-52.89,4.51-79.88c-0.63-8.54-1.6-17.05-2.73-25.56c-1.29-9.61-2.77-19.21-4.2-28.81
                             c-1.25-8.47-2.46-16.95-3.43-25.44c-1.04-9.13-4.65-19.9,1.41-28.19c6.15-8.42,19.89-13.62,30.54-12.52
                             c2.22,0.23,4.44,0.93,6.17,2.19c0.19,0.13,0.36,0.27,0.53,0.41c0.29,0.26,0.57,0.52,0.82,0.81c2.27,2.54,2.83,6.32,2.71,10.44
                             c-0.17,6.25-1.9,13.25-1.57,17.78c0.77,10.56,0.85,19.46,1.08,28.5c0,0,0,0,0,0.01v0.01c0.1,4.18,0.24,8.39,0.49,12.8
                             c0.52,9.28,0.55,19.19,0.43,28.48c-0.26,22.43-6.78,43.5-11.42,65.36c-0.05,0.26-0.11,0.53-0.16,0.8
                             c-0.06,0.33-0.13,0.65-0.19,0.99c-0.07,0.33-0.12,0.68-0.18,1.02c-0.03,0.13-0.05,0.27-0.07,0.41c-0.03,0.14-0.05,0.28-0.08,0.43
                             c-0.06,0.39-0.12,0.79-0.18,1.19v0.06c-0.04,0.22-0.07,0.43-0.1,0.64c-0.04,0.3-0.08,0.61-0.12,0.92l-2.3-0.75
                             c0,0-11.57,32.13-7.52,43.13c4.05,10.99,8.55,24.28,43.05,24.38c34.5,0.11,84.01-0.5,120,10.05
                             C228.31,581.06,229.07,581.27,229.79,581.45z" />
                </g>
              </g>
              <g>
                <g>
                  <path class="st7" d="M143.8,634.81V661c0,1.46-1.11,2.65-2.48,2.65h-9.91c-1.38,0-2.5-1.19-2.5-2.65v-29.06
                             c3.04-0.91,5.96-1.04,8.06,0.49C138.48,633.51,140.92,634.28,143.8,634.81z" />
                  <path class="st7" d="M149.9,752.75l-1-0.04c0.31-7.3-5.09-13.47-12.04-13.77c-3.37-0.14-6.59,1.09-9.07,3.48
                             c-2.49,2.4-3.95,5.67-4.1,9.21l-1-0.04c0.16-3.8,1.73-7.31,4.41-9.88c2.69-2.58,6.18-3.92,9.81-3.76
                             C144.4,738.25,150.24,744.9,149.9,752.75z" />
                  <path class="st7" d="M64.94,752.75l-1-0.04c0.31-7.3-5.09-13.47-12.04-13.77c-3.37-0.14-6.59,1.09-9.07,3.48
                             c-2.49,2.4-3.95,5.67-4.1,9.21l-1-0.04c0.16-3.8,1.73-7.31,4.41-9.88c2.69-2.58,6.18-3.92,9.81-3.76
                             C59.44,738.25,65.27,744.9,64.94,752.75z" />
                  <path class="st7"
                    d="M127.87,719.08c-3.21,0.51-6.42,1.03-9.63,1.54c-7.09,1.13-14.17,2.25-21.26,3.38
                             c-7.7,1.23-15.42,2.47-23.12,3.71c-3.07,0.5-6.15,1-9.21,1.5c-2.58,0.41-5.35,0.66-7.87,1.37c-0.21,0.07-0.57,0.36-0.66,0.57
                             c-0.38,0.9-0.24,3.76-0.24,4.86h-4.55c0.01-2.67,0.3-5.85,1.44-7.26c2.02-2.52,66.61-15.59,74.34-17.14L127.87,719.08z" />
                  <path class="st7" d="M62.39,753.5c-0.96,5.01-5.25,8.87-10.55,9.11c-3.49,0.14-6.67-1.33-8.83-3.74
                             c4.46,0.56,10.11,0.47,15.29-1.97C60.16,756.02,61.49,754.84,62.39,753.5z" />
                  <path class="st7"
                    d="M147.51,751.02c0.26,6.2-4.55,11.44-10.74,11.71c-0.36,0.01-0.71,0.01-1.07-0.01
                             c0.54-0.3,1.18-0.61,1.94-0.94c5.6-2.41,8.13-8.5,9.24-13.99C147.26,748.8,147.47,749.88,147.51,751.02z" />
                  <path class="st7" d="M235.42,752.75l-1-0.04c0.31-7.3-5.09-13.47-12.04-13.77c-3.37-0.14-6.59,1.09-9.07,3.48
                             c-2.49,2.4-3.95,5.67-4.1,9.21l-1-0.04c0.16-3.8,1.73-7.31,4.41-9.88c2.69-2.58,6.18-3.92,9.81-3.76
                             C229.92,738.25,235.75,744.9,235.42,752.75z" />
                  <path class="st7"
                    d="M145.28,719.08c3.21,0.51,6.42,1.03,9.63,1.54c7.09,1.13,14.17,2.25,21.26,3.38
                             c7.7,1.23,15.42,2.47,23.12,3.71c3.07,0.5,6.15,1,9.21,1.5c2.58,0.41,5.35,0.66,7.87,1.37c0.21,0.07,0.57,0.36,0.66,0.57
                             c0.38,0.9,0.24,3.76,0.24,4.86h4.55c-0.01-2.67-0.3-5.85-1.44-7.26c-2.02-2.52-66.61-15.59-74.34-17.14L145.28,719.08z" />
                  <path class="st7"
                    d="M233.03,751.99c-0.27,6.19-5.5,10.99-11.69,10.74c-0.8-0.03-1.58-0.16-2.34-0.36
                             c0.86-0.7,2.08-1.37,3.78-2.02c7.7-2.97,8.04-10.82,7.06-16.7C231.93,745.8,233.17,748.77,233.03,751.99z" />
                  <path class="st7"
                    d="M239.37,553.87c0,2.4-0.34,4.87-0.9,7.28c-0.48,2.09-1.13,4.13-1.88,6.04c-0.47,1.2-0.97,2.4-1.48,3.58
                             s-1.05,2.35-1.6,3.51c-1.15,2.43-2.39,4.82-3.72,7.17c-0.72-0.18-1.48-0.39-2.29-0.63c-35.99-10.55-85.5-9.94-120-10.05
                             c-34.5-0.1-39-13.39-43.05-24.38c-4.05-11,7.52-43.13,7.52-43.13l2.3,0.75c-0.02,0.14-0.03,0.29-0.05,0.44
                             c-0.02,0.19-0.05,0.37-0.07,0.56c-0.06,0.5-0.11,1-0.16,1.51c0,0.05-0.01,0.09-0.01,0.14c-0.01,0.09-0.02,0.19-0.03,0.29
                             c-0.05,0.55-0.1,1.11-0.15,1.67c0,0.06-0.01,0.12-0.01,0.18c0,0.03,0,0.06-0.01,0.09c-0.04,0.6-0.08,1.21-0.12,1.83v0.12
                             c-0.08,1.41-0.13,2.85-0.15,4.3c-0.01,0.33-0.01,0.67-0.01,1.01c-0.01,1.06,0,2.12,0.02,3.19c0.02,0.51,0.03,1.03,0.05,1.54
                             c0.03,0.97,0.08,1.93,0.14,2.9c0.03,0.49,0.06,0.99,0.1,1.48c0.1,1.43,0.23,2.86,0.4,4.27c0.18,1.6,0.41,3.18,0.67,4.73
                             c0.95,5.63,1.84,9.4,6.24,14c5.15,5.37,11.46,7.95,18.13,8.99c0.48,0.08,0.97,0.15,1.45,0.21c0.53,0.06,1.05,0.12,1.58,0.17
                             c0.9,0.09,1.81,0.15,2.71,0.18c0.16,0.01,0.33,0.01,0.5,0.02c0.31,0.01,0.62,0.02,0.93,0.03c0.82,0.01,1.65,0.01,2.47,0
                             c2.47-0.04,4.94-0.2,7.38-0.42c26.63-2.42,52.67-8.32,78.66-14.15c4.96-1.12,9.92-2.23,14.88-3.31c0.74-0.16,1.47-0.32,2.21-0.48
                             c7.01-1.53,15.01-2.84,20.95,0.97c3.97,2.54,5.79,6.5,6.27,10.92C239.33,552.2,239.37,553.03,239.37,553.87z" />
                </g>
                <g>
                  <path class="st7" d="M143.8,634.81V661c0,1.46-1.11,2.65-2.48,2.65h-9.91c-1.38,0-2.5-1.19-2.5-2.65v-29.06
                             c3.04-0.91,5.96-1.04,8.06,0.49C138.48,633.51,140.92,634.28,143.8,634.81z" />
                  <path class="st7" d="M149.9,752.75l-1-0.04c0.31-7.3-5.09-13.47-12.04-13.77c-3.37-0.14-6.59,1.09-9.07,3.48
                             c-2.49,2.4-3.95,5.67-4.1,9.21l-1-0.04c0.16-3.8,1.73-7.31,4.41-9.88c2.69-2.58,6.18-3.92,9.81-3.76
                             C144.4,738.25,150.24,744.9,149.9,752.75z" />
                  <path class="st7" d="M64.94,752.75l-1-0.04c0.31-7.3-5.09-13.47-12.04-13.77c-3.37-0.14-6.59,1.09-9.07,3.48
                             c-2.49,2.4-3.95,5.67-4.1,9.21l-1-0.04c0.16-3.8,1.73-7.31,4.41-9.88c2.69-2.58,6.18-3.92,9.81-3.76
                             C59.44,738.25,65.27,744.9,64.94,752.75z" />
                  <path class="st7"
                    d="M127.87,719.08c-3.21,0.51-6.42,1.03-9.63,1.54c-7.09,1.13-14.17,2.25-21.26,3.38
                             c-7.7,1.23-15.42,2.47-23.12,3.71c-3.07,0.5-6.15,1-9.21,1.5c-2.58,0.41-5.35,0.66-7.87,1.37c-0.21,0.07-0.57,0.36-0.66,0.57
                             c-0.38,0.9-0.24,3.76-0.24,4.86h-4.55c0.01-2.67,0.3-5.85,1.44-7.26c2.02-2.52,66.61-15.59,74.34-17.14L127.87,719.08z" />
                  <path class="st7" d="M62.39,753.5c-0.96,5.01-5.25,8.87-10.55,9.11c-3.49,0.14-6.67-1.33-8.83-3.74
                             c4.46,0.56,10.11,0.47,15.29-1.97C60.16,756.02,61.49,754.84,62.39,753.5z" />
                  <path class="st7"
                    d="M147.51,751.02c0.26,6.2-4.55,11.44-10.74,11.71c-0.36,0.01-0.71,0.01-1.07-0.01
                             c0.54-0.3,1.18-0.61,1.94-0.94c5.6-2.41,8.13-8.5,9.24-13.99C147.26,748.8,147.47,749.88,147.51,751.02z" />
                  <path class="st7" d="M235.42,752.75l-1-0.04c0.31-7.3-5.09-13.47-12.04-13.77c-3.37-0.14-6.59,1.09-9.07,3.48
                             c-2.49,2.4-3.95,5.67-4.1,9.21l-1-0.04c0.16-3.8,1.73-7.31,4.41-9.88c2.69-2.58,6.18-3.92,9.81-3.76
                             C229.92,738.25,235.75,744.9,235.42,752.75z" />
                  <path class="st7"
                    d="M145.28,719.08c3.21,0.51,6.42,1.03,9.63,1.54c7.09,1.13,14.17,2.25,21.26,3.38
                             c7.7,1.23,15.42,2.47,23.12,3.71c3.07,0.5,6.15,1,9.21,1.5c2.58,0.41,5.35,0.66,7.87,1.37c0.21,0.07,0.57,0.36,0.66,0.57
                             c0.38,0.9,0.24,3.76,0.24,4.86h4.55c-0.01-2.67-0.3-5.85-1.44-7.26c-2.02-2.52-66.61-15.59-74.34-17.14L145.28,719.08z" />
                  <path class="st7"
                    d="M233.03,751.99c-0.27,6.19-5.5,10.99-11.69,10.74c-0.8-0.03-1.58-0.16-2.34-0.36
                             c0.86-0.7,2.08-1.37,3.78-2.02c7.7-2.97,8.04-10.82,7.06-16.7C231.93,745.8,233.17,748.77,233.03,751.99z" />
                  <path class="st7"
                    d="M239.37,553.87c0,2.4-0.34,4.87-0.9,7.28c-0.48,2.09-1.13,4.13-1.88,6.04c-0.47,1.2-0.97,2.4-1.48,3.58
                             s-1.05,2.35-1.6,3.51c-1.15,2.43-2.39,4.82-3.72,7.17c-0.72-0.18-1.48-0.39-2.29-0.63c-35.99-10.55-85.5-9.94-120-10.05
                             c-34.5-0.1-39-13.39-43.05-24.38c-4.05-11,7.52-43.13,7.52-43.13l2.3,0.75c-0.02,0.14-0.03,0.29-0.05,0.44
                             c-0.02,0.19-0.05,0.37-0.07,0.56c-0.06,0.5-0.11,1-0.16,1.51c0,0.05-0.01,0.09-0.01,0.14c-0.01,0.09-0.02,0.19-0.03,0.29
                             c-0.05,0.55-0.1,1.11-0.15,1.67c0,0.06-0.01,0.12-0.01,0.18c0,0.03,0,0.06-0.01,0.09c-0.04,0.6-0.08,1.21-0.12,1.83v0.12
                             c-0.08,1.41-0.13,2.85-0.15,4.3c-0.01,0.33-0.01,0.67-0.01,1.01c-0.01,1.06,0,2.12,0.02,3.19c0.02,0.51,0.03,1.03,0.05,1.54
                             c0.03,0.97,0.08,1.93,0.14,2.9c0.03,0.49,0.06,0.99,0.1,1.48c0.1,1.43,0.23,2.86,0.4,4.27c0.18,1.6,0.41,3.18,0.67,4.73
                             c0.95,5.63,1.84,9.4,6.24,14c5.15,5.37,11.46,7.95,18.13,8.99c0.48,0.08,0.97,0.15,1.45,0.21c0.53,0.06,1.05,0.12,1.58,0.17
                             c0.9,0.09,1.81,0.15,2.71,0.18c0.16,0.01,0.33,0.01,0.5,0.02c0.31,0.01,0.62,0.02,0.93,0.03c0.82,0.01,1.65,0.01,2.47,0
                             c2.47-0.04,4.94-0.2,7.38-0.42c26.63-2.42,52.67-8.32,78.66-14.15c4.96-1.12,9.92-2.23,14.88-3.31c0.74-0.16,1.47-0.32,2.21-0.48
                             c7.01-1.53,15.01-2.84,20.95,0.97c3.97,2.54,5.79,6.5,6.27,10.92C239.33,552.2,239.37,553.03,239.37,553.87z" />
                </g>
              </g>
              <path class="st5" d="M573.63,307.45c-4.14-1.69-10.42,1.54-13.86,4.17c0,0-4.29,3.26-8.44,8.87c-0.17,1.59-0.11,3.49-0.11,3.49
                         c-0.24-0.29-0.73-1.03-1.16-1.69c-2.19,3.26-4.2,7.18-5.35,11.61c-3.06,11.75,1.57,16.14-1.96,22.94c0.65,0.61,1.22,1.31,1.73,2.04
                         c1.35,1.94,2.24,4.16,2.89,6.41c0.52,1.77,0.9,3.58,1.21,5.39c0.27,1.58,0.55,3.19,0.82,4.83c1.26-1.35,2.63-2.49,4.07-3.51
                         c0.71-0.49,1.44-0.95,2.18-1.4c2.43-1.45,5.02-2.67,7.67-4c1.77-0.9,3.49-1.92,5.12-3.06c-1.51-6.73-0.7-12.01,0.79-16.56
                         l-2.84-3.45l4.35-0.55c1.23-2.93,2.55-5.6,3.38-8.25c1.27-4.01,2.16-7.49,2.74-10.48l-2.49-2.29l2.92-0.15
                         C578.65,312.72,576.74,308.71,573.63,307.45z" />
              <g>
                <path class="st9" d="M550.88,413.91l-0.15,1.56l-0.26,7.5c-0.24,1.86-0.13,3.72-0.19,5.59h-2.92c0.18-1.88,0.35-3.75,0.53-5.63
                           c0.3-3.18,0.63-6.35,0.96-9.52C549.51,413.62,550.19,413.79,550.88,413.91z" />
                <path class="st9" d="M566.52,319.93c-1.23,2.22-2.31,4.47-3.35,6.78c-0.54,1.15-1.04,2.31-1.62,3.45l-0.88,1.7
                           c-0.14,0.27-0.28,0.54-0.41,0.81l-0.38,0.83c-0.47,1.12-0.91,2.24-1.27,3.39c-0.35,1.15-0.63,2.33-0.86,3.51
                           c-0.45,2.38-0.7,4.8-0.79,7.26c-0.12,3.77-0.09,7.54-0.15,11.31c-0.05,1.28-0.11,2.57-0.22,3.86c-0.1,1.29-0.26,2.61-0.43,3.88
                           l-0.49,3.74l-0.02,0.15c-0.74,0.45-1.47,0.91-2.18,1.4l0.22-1.8c0.29-2.51,0.7-5.01,0.86-7.52c0.34-5.02,0.16-10.08,0.48-15.14
                           c0.17-2.52,0.46-5.05,1.05-7.52c0.56-2.47,1.42-4.88,2.57-7.15c0.57-1.13,1.26-2.2,1.89-3.29s1.24-2.19,1.86-3.3
                           c1.22-2.2,2.47-4.41,3.95-6.47L566.52,319.93z" />
              </g>
              <path class="st10" d="M600.15,335.1c-1.17-2.45-3.6-4.47-6.31-4.38c-2.68,0.08-4.91,2.16-6.2,4.5c-2.99,5.41-4.13,11.4-7.68,16.62
                         c-0.14,0.2-0.28,0.4-0.41,0.6l1.01,3.15l-1.93-1.9c-0.21,0.28-0.42,0.55-0.63,0.82l1.1,1.67l-1.8-0.81
                         c-2.57,3.1-5.56,5.87-8.86,8.17c-1.63,1.14-3.35,2.16-5.12,3.06c-2.65,1.33-5.24,2.55-7.67,4c-0.74,0.45-1.47,0.91-2.18,1.4
                         c-1.44,1.02-2.81,2.16-4.07,3.51c1.06,6.61,1.84,13.57,0.53,19.96c-1.07,5.19-3.74,9.03-7.65,11.11c-0.17,0.09-0.35,0.18-0.53,0.27
                         c0.56,1.55,1.39,2.95,2.58,4.06c1.24,1.15,2.8,1.96,4.52,2.5c0.66,0.21,1.34,0.38,2.03,0.5c0.65,0.13,1.32,0.22,1.98,0.28
                         c0.64,0.06,1.27,0.1,1.9,0.1c2.1,0.04,4.16-0.18,5.93-0.55c11.76-2.48,15.62-11.66,19.58-21.22l-2.9-4.9l4.21,1.78
                         c0.52-1.23,1.06-2.45,1.63-3.66c3.3-6.92,8.32-11.87,12.98-17.82c4.76-6.08,5.32-13.69,5.28-21.12
                         C601.45,342.92,601.87,338.7,600.15,335.1z" />
              <path class="st11" d="M592.18,342.96c-0.36,2.53-1.07,5.01-1.97,7.4c-0.9,2.4-2.02,4.72-3.37,6.89c-1.36,2.17-2.87,4.26-4.64,6.1
                         c-0.84,0.97-1.83,1.79-2.75,2.67c-0.23,0.23-0.49,0.41-0.74,0.61l-0.75,0.6c-0.51,0.39-1,0.8-1.52,1.17
                         c-4.16,3.01-8.24,6.22-11.66,10.09c-1.71,1.93-3.27,4.01-4.6,6.22c-1.32,2.22-2.44,4.55-3.35,6.97c-1.82,4.83-2.85,9.92-3.43,15.03
                         c-0.28,2.56-0.47,5.13-0.55,7.7c-0.09,2.57-0.09,5.15-0.05,7.71l0.08,6.44h1.71c-0.08-2.15-0.11-4.3-0.08-6.45
                         c0.04-2.58,0.12-5.09,0.24-7.63c0.13-2.53,0.36-5.04,0.68-7.53c0.64-4.99,1.65-9.9,3.43-14.5c0.86-2.31,1.9-4.54,3.14-6.65
                         c1.24-2.11,2.71-4.08,4.31-5.95c1.59-1.88,3.38-3.62,5.26-5.27c0.94-0.83,1.91-1.63,2.89-2.43c0.98-0.8,1.98-1.58,2.99-2.36
                         c0.24-0.19,0.5-0.4,0.76-0.62l0.77-0.64l0.77-0.64c0.25-0.22,0.52-0.42,0.75-0.66c0.94-0.95,1.95-1.83,2.77-2.88
                         c1.77-1.99,3.25-4.21,4.55-6.5c1.28-2.3,2.31-4.73,3.09-7.22c0.2-0.62,0.35-1.26,0.53-1.89c0.17-0.63,0.3-1.26,0.44-1.9
                         c0.24-1.28,0.44-2.56,0.51-3.86L592.18,342.96z" />
              <path class="st4"
                d="M549.4,375.51c-0.27-1.64-0.55-3.25-0.82-4.83c-0.31-1.81-0.69-3.62-1.21-5.39c-0.65-2.25-1.54-4.47-2.89-6.41
                         c-0.51-0.73-1.08-1.43-1.73-2.04c-0.18-0.18-0.36-0.35-0.55-0.51c-0.44-0.37-0.91-0.71-1.4-1.01c-0.56-0.28-1.07-0.66-1.61-0.96
                         c-0.57-0.32-1.16-0.62-1.75-0.89c-1.02-0.46-2.07-0.84-3.08-1.32c-1.39-0.66-2.73-1.43-4.03-2.24c-3.72-2.34-5.96-6.3-8.05-10.02
                         c-5.37-9.53-12.07-17.46-23.34-18.77c-0.43-0.06-0.87-0.1-1.32-0.13c-2.65-0.18-6.01-0.52-8.31,1.01c-2.5,1.68-3.49,4.93-3.44,8.47
                         c0.07,4.94,1.54,10.34,3.21,14.92c1.39,3.79,3.24,8.1,6.11,10.53c3.1,2.61,4.7,5.37,5.39,9.85c0.44,2.92,0.74,5.75,1.18,8.58
                         c1.59,0.39,3.47,0.68,4.95,0.78c0.8,0.06,1.49,0.06,1.94,0c0.86-0.13-0.12,0.61-1.48,1.68c-0.77,0.6-1.67,1.31-2.42,2.03
                         c-0.75,0.72-1.37,1.46-1.57,2.13c2.08,7.15,5.9,13.87,10.74,18.69c3.85,3.84,8.72,6.43,13.98,7.76c1.64,0.41,3.28,0.66,4.93,0.83
                         c0.22,0.02,0.43,0.04,0.65,0.05c1.98,0.12,3.81-0.04,5.49-0.46c0.81-0.2,1.59-0.46,2.32-0.79c0.16-0.06,0.31-0.13,0.46-0.2
                         c0.18-0.09,0.36-0.18,0.53-0.27c3.91-2.08,6.58-5.92,7.65-11.11C551.24,389.08,550.46,382.12,549.4,375.51z" />
              <path class="st5" d="M544.45,423.79c-0.75-5.4-1.76-10.77-3-16.07c-0.05-0.22-0.11-0.45-0.16-0.67
                         c-2.46-10.29-5.87-20.23-10.24-29.86c-2.28-5-4.74-9.93-7.22-14.83c-3.76-7.4-7.24-14.04-13.38-19.77
                         c-3.34-3.11-7.03-5.72-11.09-7.82c-0.31-0.04-0.49-0.44-0.91-0.29c0.52,0.35,1,0.68,1.49,1.01c0.14,0.07,0.29,0.12,0.41,0.2
                         c3.34,2.31,6.5,4.83,9.33,7.76c6.1,6.3,10.02,14.32,13.54,22.25c3.77,8.5,7.52,17.02,10.72,25.76c1.97,5.38,3.66,10.85,5.03,16.38
                         c1.69,6.81,2.91,13.73,3.61,20.72h2.37C544.71,426.17,544.51,424.23,544.45,423.79z" />
              <g>
                <g>
                  <path class="st5"
                    d="M506.71,375.13c-1.48-0.1-3.36-0.39-4.96-0.78c-0.44-2.83-0.73-5.67-1.18-8.58
                             c-0.68-4.48-2.29-7.24-5.39-9.85c-2.87-2.43-4.72-6.74-6.11-10.52c-1.67-4.58-3.14-9.98-3.21-14.92
                             c-0.05-3.54,0.94-6.79,3.44-8.47c2.3-1.54,5.66-1.19,8.31-1.01c0.45,0.03,0.88,0.07,1.32,0.13c-2.17,0.33-4.36,0.93-6.3,1.99
                             c-1.17,0.64-2.56,1.56-3.01,2.9c-0.53,1.59,0.87,2.49,1.85,3.48c1.6,1.61,2.97,3.45,3.96,5.5c1.62,3.34,1.95,6.91,2.61,10.5
                             c0.62,3.33,2.04,6.34,4.51,8.67c1.64,1.55,4.17,2.85,4.89,5.13C508.31,361.94,505.4,368.72,506.71,375.13z" />
                  <path class="st5"
                    d="M533.48,408.3c-0.21-0.01-0.43-0.03-0.65-0.05c-1.65-0.17-3.29-0.42-4.93-0.83
                             c-5.26-1.33-10.13-3.92-13.98-7.76c-4.84-4.82-8.66-11.54-10.74-18.69l0,0c0.42-1.32,2.45-2.96,3.99-4.16
                             c0.85,2.55,2.52,4.98,5.51,6.98c11.05,7.39,10,4.78,13.55,15.26C527.51,402.84,530.36,405.92,533.48,408.3z" />
                </g>
                <g>
                  <path class="st5"
                    d="M506.71,375.13c-1.48-0.1-3.36-0.39-4.96-0.78c-0.44-2.83-0.73-5.67-1.18-8.58
                             c-0.68-4.48-2.29-7.24-5.39-9.85c-2.87-2.43-4.72-6.74-6.11-10.52c-1.67-4.58-3.14-9.98-3.21-14.92
                             c-0.05-3.54,0.94-6.79,3.44-8.47c2.3-1.54,5.66-1.19,8.31-1.01c0.45,0.03,0.88,0.07,1.32,0.13c-2.17,0.33-4.36,0.93-6.3,1.99
                             c-1.17,0.64-2.56,1.56-3.01,2.9c-0.53,1.59,0.87,2.49,1.85,3.48c1.6,1.61,2.97,3.45,3.96,5.5c1.62,3.34,1.95,6.91,2.61,10.5
                             c0.62,3.33,2.04,6.34,4.51,8.67c1.64,1.55,4.17,2.85,4.89,5.13C508.31,361.94,505.4,368.72,506.71,375.13z" />
                  <path class="st5"
                    d="M533.48,408.3c-0.21-0.01-0.43-0.03-0.65-0.05c-1.65-0.17-3.29-0.42-4.93-0.83
                             c-5.26-1.33-10.13-3.92-13.98-7.76c-4.84-4.82-8.66-11.54-10.74-18.69l0,0c0.42-1.32,2.45-2.96,3.99-4.16
                             c0.85,2.55,2.52,4.98,5.51,6.98c11.05,7.39,10,4.78,13.55,15.26C527.51,402.84,530.36,405.92,533.48,408.3z" />
                </g>
              </g>
              <path class="st4"
                d="M556.86,460.77c0.19,0.75,0.34,1.51,0.46,2.28c3.65,0.24,7.38,0.36,11.24,0.36c1.47,0,2.95-0.02,4.46-0.06
                         c0,0.07-0.01,0.13-0.02,0.19c-5.34,1.85-10.4,3.4-15.31,4.68v0.01c-0.01,0.77-0.03,1.54-0.09,2.3c4.84-1.27,9.81-2.78,15.05-4.58
                         c-1.04,6.68-2.47,12.44-3.49,16.04c-4.66-0.02-9.21-0.2-13.57-0.55c-0.21,0.75-0.44,1.49-0.67,2.19c4.37,0.36,8.92,0.56,13.58,0.6
                         c-0.26,0.84-0.45,1.39-0.53,1.6c-0.01,0.03-0.02,0.05-0.03,0.07c-0.62,1.55-2.02,2.54-3.55,2.55c-2.12,0.02-6.6,0.05-11.3,0.08
                         c-7.22,0.04-14.98,0.04-15.62-0.09c-1.08-0.23-2.36-3.11-2.64-3.77c-0.04-0.1-0.09-0.2-0.14-0.29c-0.79-1.55-1.51-3.11-2.14-4.68
                         c-0.35-0.85-0.67-1.7-0.98-2.56c-0.31-0.87-0.59-1.75-0.86-2.62c-0.22-0.75-0.43-1.49-0.63-2.24c-1.35-5.13-2-10.2-2.19-14.97v-0.01
                         c-0.04-0.78-0.06-1.55-0.07-2.31c-0.01-0.73-0.01-1.44,0.01-2.14l0.06-2.26c0.14-3.57,0.5-6.87,0.95-9.77l0.36-2.21
                         c0.51-2.83,1.07-5.18,1.53-6.89c0.5-1.88,2.04-3.16,3.79-3.16h32.65c1.56,0,2.97,1.01,3.61,2.59c0.15,0.38,0.3,0.77,0.44,1.16
                         c-6.65,2.11-12.79,3.7-18.76,4.85c-0.17,0.76-0.32,1.54-0.43,2.34c6.31-1.19,12.81-2.86,19.87-5.12c0.03,0.09,0.06,0.18,0.09,0.28
                         c-6.92,3.63-13.4,6.63-19.78,9.19c-0.15,0.06-0.31,0.12-0.46,0.18c0.01,0.74,0.06,1.5,0.15,2.25c0.22-0.08,0.44-0.17,0.66-0.26
                         c6.44-2.58,12.98-5.62,19.97-9.28c1.81,7.69,1.67,16.42,0.77,24.37C567.54,461.24,562.12,461.14,556.86,460.77z" />
              <g>
                <path class="st5" d="M552.46,437.16c-0.17,0.76-0.32,1.54-0.43,2.34c-0.01,0.01-0.02,0.01-0.03,0.01
                           c-5.61,1.05-11.06,1.58-16.5,1.58c-2.22,0-4.44-0.09-6.66-0.27l0.36-2.21c7.5,0.56,14.91,0.12,22.63-1.33
                           C552.04,437.24,552.25,437.2,552.46,437.16z" />
                <path class="st5" d="M557.32,463.05c-1.62-0.1-3.22-0.23-4.82-0.38c-8.52-0.81-16.58-2.56-24.61-5.36v-0.01
                           c-0.04-0.78-0.06-1.55-0.07-2.31c8.09,2.85,16.19,4.63,24.76,5.44c1.42,0.13,2.84,0.25,4.28,0.34
                           C557.05,461.52,557.2,462.28,557.32,463.05z" />
                <path class="st5" d="M555.59,481.44c-0.21,0.75-0.44,1.49-0.67,2.19c-0.75-0.05-1.49-0.12-2.22-0.19
                           c-6.96-0.66-13.57-1.89-20.15-3.74c-0.35-0.85-0.67-1.7-0.98-2.56c6.94,2.04,13.88,3.36,21.22,4.06
                           C553.71,481.29,554.65,481.37,555.59,481.44z" />
                <path class="st5" d="M551.9,446.28c-8.15,3.21-16.03,5.35-24.07,6.57l0.06-2.26c7.97-1.22,15.79-3.37,23.86-6.56
                           C551.76,444.77,551.81,445.53,551.9,446.28z" />
                <path class="st5" d="M557.69,468.23c-0.01,0.77-0.03,1.54-0.09,2.3c-1.77,0.46-3.52,0.88-5.26,1.28
                           c-7.37,1.67-14.46,2.56-21.63,2.71c-0.22-0.75-0.43-1.49-0.63-2.24c7.32-0.1,14.54-0.98,22.06-2.69
                           C553.97,469.17,555.82,468.72,557.69,468.23z" />
              </g>
              <g>
                <path class="st9" d="M571.9,434.38c-7.06,2.26-13.56,3.93-19.87,5.12c0.11-0.8,0.26-1.58,0.43-2.34
                           c5.97-1.15,12.11-2.74,18.76-4.85C571.47,432.99,571.7,433.67,571.9,434.38z" />
                <path class="st9" d="M572.53,436.74c-6.99,3.66-13.53,6.7-19.97,9.28c-0.22,0.09-0.44,0.18-0.66,0.26
                           c-0.09-0.75-0.14-1.51-0.15-2.25c0.15-0.06,0.31-0.12,0.46-0.18c6.38-2.56,12.86-5.56,19.78-9.19
                           C572.19,435.34,572.37,436.03,572.53,436.74z" />
                <path class="st9" d="M573.3,461.11c-0.08,0.75-0.18,1.5-0.28,2.24c-1.51,0.04-2.99,0.06-4.46,0.06c-3.86,0-7.59-0.12-11.24-0.36
                           c-0.12-0.77-0.27-1.53-0.46-2.28C562.12,461.14,567.54,461.24,573.3,461.11z" />
                <path class="st9" d="M573,463.54c-0.11,0.81-0.23,1.62-0.35,2.41c-5.24,1.8-10.21,3.31-15.05,4.58c0.06-0.76,0.08-1.53,0.09-2.3
                           v-0.01C562.6,466.94,567.66,465.39,573,463.54z" />
                <path class="st9" d="M569.16,481.99c-0.25,0.88-0.47,1.64-0.66,2.24c-4.66-0.04-9.21-0.24-13.58-0.6c0.23-0.7,0.46-1.44,0.67-2.19
                           C559.95,481.79,564.5,481.97,569.16,481.99z" />
              </g>
              <path class="st5" d="M571.22,432.31c-6.65,2.11-12.79,3.7-18.76,4.85c0.72-3.27,1.9-6.21,3.07-8.6h11.64c1.56,0,2.97,1.01,3.61,2.59
                         C570.93,431.53,571.08,431.92,571.22,432.31z" />
              <path class="st5"
                d="M552.21,443.85c-0.15,0.06-0.31,0.12-0.46,0.18c-0.03-1.55,0.07-3.07,0.28-4.53
                         c6.31-1.19,12.81-2.86,19.87-5.12c0.03,0.09,0.06,0.18,0.09,0.28C565.07,438.29,558.59,441.29,552.21,443.85z" />
              <path class="st5"
                d="M554.92,483.63c4.37,0.36,8.92,0.56,13.58,0.6c-0.26,0.84-0.45,1.39-0.53,1.6c-0.01,0.03-0.02,0.05-0.03,0.07
                         c-0.62,1.55-2.02,2.54-3.55,2.55c-2.12,0.02-6.6,0.05-11.3,0.08C553.67,487.13,554.31,485.47,554.92,483.63z" />
              <path class="st5" d="M572.65,465.95c-1.04,6.68-2.47,12.44-3.49,16.04c-4.66-0.02-9.21-0.2-13.57-0.55
                         c0.97-3.3,1.76-7.05,2.01-10.91C562.44,469.26,567.41,467.75,572.65,465.95z" />
              <path class="st5" d="M573.02,463.35c0,0.07-0.01,0.13-0.02,0.19c-5.34,1.85-10.4,3.4-15.31,4.68c0.01-1.73-0.1-3.46-0.37-5.17
                         c3.65,0.24,7.38,0.36,11.24,0.36C570.03,463.41,571.51,463.39,573.02,463.35z" />
              <path class="st5"
                d="M573.3,461.11c-5.76,0.13-11.18,0.03-16.44-0.34c-0.48-1.99-1.2-3.93-2.21-5.78c-1.58-2.9-2.43-5.84-2.75-8.71
                         c0.22-0.08,0.44-0.17,0.66-0.26c6.44-2.58,12.98-5.62,19.97-9.28C574.34,444.43,574.2,453.16,573.3,461.11z" />
              <path class="st12" d="M482.91,435.37c-1.88,0.85-4.15,1.67-4.69,3.57c-0.57,1.99,1.15,3.88,2.31,5.66c1.36,2.08,2,4.52,1.95,6.94
                         h-1.05c-0.01-1.99-1.05-3.81-2.52-5.31c-0.59-0.61-1.24-1.16-1.93-1.65c-2.39-1.7-5.17-2.84-7.61-4.46
                         c-1.48-0.98-2.96-2.53-2.49-4.14c0.28-0.95,1.17-1.6,1.97-2.23c2.19-1.72,4.17-4,4.29-6.71c0.12-2.48-1.35-4.82-3.11-6.7
                         c-1.75-1.89-3.85-3.5-5.42-5.53c-1.58-2.02-2.59-4.66-1.78-7c0.45-1.28,1.37-2.29,2.53-3.07c1.46-0.98,3.32-1.59,5.11-1.91
                         c4.61-0.83,9.57-0.38,13.78,1.67C497.65,411.01,495.43,429.63,482.91,435.37z" />
              <path class="st4"
                d="M485,451.55c-0.32,4.7-0.21,10.29,1.32,14.64c0.18,0.51,0.34,1.03,0.47,1.56c1.13,4.26,0.9,8.82,0,12.96
                         c-0.59,2.72-1.46,5.26-2.43,7.43h-15.83c-1.17,0-2.12-0.96-2.12-2.12v-32.36c0-1.17,0.95-2.12,2.12-2.12L485,451.55z" />
              <path class="st5" d="M498.72,457.64h-4.75v-3.98c0-1.16-0.96-2.11-2.11-2.11h-7.08c-0.32,4.7-0.21,10.29,1.32,14.64
                         c0.18,0.51,0.34,1.03,0.47,1.56c1.13,4.26,0.9,8.82,0,12.96c-0.59,2.72-1.46,5.26-2.43,7.43h7.72c0.72,0,1.36-0.38,1.75-0.94
                         c0.1-0.15,0.18-0.3,0.24-0.47c0.02-0.05,0.03-0.11,0.05-0.16c0.05-0.17,0.07-0.35,0.07-0.54v-1.24h4.75c1.47,0,2.66-1.19,2.66-2.66
                         v-21.83C501.38,458.83,500.19,457.64,498.72,457.64z M499.38,482.13c0,0.36-0.3,0.66-0.66,0.66h-4.75v-23.15h4.75
                         c0.36,0,0.66,0.3,0.66,0.66V482.13z" />
              <path class="st13" d="M232.54,722.65c-0.69,1.05-3.66,1.13-7.03,0.92c-2.29-0.15-4.76-0.42-6.82-0.61
                         c-5.28-0.49-7.06-0.06-11.7-2.06s-18.92-12.43-20-16.55c-0.86-3.29,3.19-7.3,7.14-12.33h0.02c2.63-1.88,4.66-4.45,6.24-7.5
                         c-0.22-0.08-0.45-0.17-0.68-0.25c-0.05-0.02-0.1-0.04-0.15-0.06c-0.2-0.08-0.41-0.16-0.62-0.24c0.89-2.67,1.14-5.33,1.14-7.43
                         c0-2.56-0.35-4.32-0.35-4.32l4.37,1.34l10.95,3.37l4.02,1.24l2.59,0.8c-1.7,2.18-2.84,4.52-4.21,6.8c-0.55,0.93-1.15,1.83-1.84,2.72
                         c-1.39,1.77-2.78,3.55-4.17,5.32c-2.36,3.04-0.61,7.01,0.41,10.3c0.65,2.08,1.43,5.32,3.44,6.53c1.94,1.16,4.52,1.31,6.72,1.38
                         C232.69,712.42,233.7,720.89,232.54,722.65z" />
              <path class="st14" d="M284.33,570.48c-1.41,4.21-3.01,8.35-4.92,12.36c-3.77,7.91-8.37,15.4-12.78,22.97
                         c-9.4,16.14-17.98,30.81-25.96,44.26c-4.62,7.8-9.26,15.59-13.94,23.36c-2.1,3.49-4.02,7.37-6.52,10.59
                         c-1.72,2.21-6.1,1.95-8.08,1.69c2.44-1.33,3.74-4.01,5.16-6.27c0.26-0.42,0.52-0.85,0.78-1.27c1.82-2.97,3.59-5.97,5.33-8.97
                         c7.11-12.18,14.41-23.38,21.27-35.69c7.19-12.89,13.92-26.93,20.96-39.88c3.74-6.91,7.95-13.76,11.1-20.97
                         c2.11-4.83,6.67-13.5,2.92-23.67C284.88,555.49,287.6,560.7,284.33,570.48z" />
              <path class="st15" d="M225.51,723.57c-0.06,0.44-0.18,0.8-0.33,1.03c-1.16,1.76-8.78,0.77-13.85,0.31
                         c-5.29-0.49-7.06-0.06-11.7-2.07c-3.31-1.42-11.52-7.14-16.35-11.79c1.81-4.79,3.4-13.73,10.85-19.03h0.02
                         c2.63-1.88,4.66-4.45,6.24-7.5c-0.22-0.08-0.45-0.17-0.68-0.25v-0.01c-0.06-0.02-0.11-0.04-0.15-0.05c-0.2-0.08-0.41-0.16-0.62-0.24
                         c-2.21-0.85-4.59-1.93-6.32-3.23c0.32-3.73-0.25-6.58-0.25-6.58l7.71,2.38l3.04,0.93l10.43,3.21l1.86,0.57
                         c-1.08,1.38-2.16,2.76-3.23,4.15c-0.01,0-0.01,0-0.01,0.01c-0.27,0.33-0.53,0.66-0.79,0.99c-1.04,1.34-2.09,2.69-3.14,4.03
                         c-1.38,1.77-2.77,3.55-4.15,5.33c-2.36,3.03-0.63,7,0.4,10.3c0.64,2.08,1.43,5.32,3.44,6.53c1.94,1.16,4.52,1.3,6.72,1.38
                         C223.9,714.31,225.89,720.71,225.51,723.57z" />
              <path class="st13" d="M199.71,684.27c-0.05-0.02-0.1-0.04-0.15-0.06c-0.2-0.08-0.41-0.16-0.62-0.24c-2.21-0.85-4.59-1.93-6.32-3.23
                         c-0.25,2.86-1.01,6.23-2.97,9.25c-4.5,6.95-11.1,12.2-10.02,16.31c0.09,0.35,0.81,1.31,1.62,2.3l0.29,0.36l0.58,0.7l0.28,0.33
                         c0.36,0.44,0.68,0.82,0.88,1.06c1.81-4.79,3.4-13.73,10.85-19.03h0.02c2.63-1.88,4.66-4.45,6.24-7.5
                         C200.17,684.44,199.94,684.35,199.71,684.27z" />
              <path class="st16"
                d="M277.75,572.65c-3.15,7.21-7.36,14.07-11.1,20.97c-7.05,12.96-13.78,27-20.97,39.89
                         c-0.63,1.12-1.25,2.24-1.88,3.34c-6.31,11.03-12.93,21.28-19.39,32.35c-1.75,3-3.51,6-5.34,8.97c-0.25,0.42-0.51,0.85-0.77,1.27
                         c-1.42,2.26-2.72,4.94-5.16,6.27h-0.01c-0.05,0.04-0.1,0.07-0.15,0.1c-0.51,0.26-1.05,0.46-1.6,0.59c-2.48,0.64-5.26,0.11-7.61-0.71
                         c-0.85-0.3-2.04-0.7-3.38-1.17c-0.46-0.17-0.95-0.35-1.45-0.55c-2.21-0.85-4.59-1.93-6.32-3.23c-1.99-1.49-3.13-3.27-2.19-5.32
                         c3.75-8.15,6.84-15.53,8.24-24.37c0.77-4.82,2.53-10.1,3.34-14.91c1.59-9.36,3.27-18.97,7.54-27.55c2.62-5.27,4.74-9.37,6.45-12.66
                         c5.16-9.91,6.66-12.34,7.23-16.29c0.13-0.88,0.21-1.84,0.28-2.97c0.48-7.89-1.67-9.82-21.09-12.16c-9.31-1.12-66.91-0.31-97.46-3.8
                         c-9.05-1.03-15.73-2.44-18.08-4.38c-1.9-1.57-3.61-3.29-5.14-5.05c-0.04-0.04-0.09-0.1-0.14-0.15c-0.99-1.15-1.92-2.32-2.78-3.46
                         c0-0.03-0.03-0.05-0.04-0.07c-0.12-0.18-0.23-0.37-0.34-0.55c0.04,0,0.09-0.01,0.13-0.01c0.08-0.01,0.15-0.02,0.23-0.03
                         c0.11-0.01,0.23-0.02,0.34-0.04c0.07-0.01,0.13-0.01,0.2-0.02c0.15-0.02,0.31-0.04,0.46-0.05c0.03,0,0.06-0.01,0.09-0.01
                         c1.2-0.16,2.33-0.33,3.4-0.53c12.04-2.18,16.04-6.77,16.28-7.06c0.01-0.01,0.01-0.01,0.01-0.01c3.44-3.08,6.02-6.95,8.92-10.51
                         c5.42-6.64,12.77-11.47,20.03-15.88c5.41-3.27,10.73-6.82,16.8-8.75c4.52-1.43,9.2-1.61,13.88-2.01c0.03,0,0.06-0.01,0.1-0.01
                         c0.02,0,0.05-0.01,0.07-0.01c2.47-0.27,5.49,0.75,8.01,1.14c0.15,0.02,0.3,0.04,0.44,0.06c0.02,0,0.04,0.01,0.06,0.01
                         c0.57,0.06,1.06,0.07,1.49,0.02l0.55,0.16c0.01,0,0.01,0,0.01,0l0.33,0.1l6.64,1.88c0,0,77.5,17.41,91,27.74
                         c5.54,4.23,9.09,8.42,11.25,12.42c0.61,1.12,1.11,2.23,1.51,3.32v0.01C284.42,559.15,279.87,567.82,277.75,572.65z" />
              <path class="st17" d="M372.48,481.11h-6.85c-0.23,0-0.42-0.19-0.42-0.42v-0.63c0-0.23,0.19-0.42,0.42-0.42h6.85
                         c0.23,0,0.42,0.19,0.42,0.42v0.63C372.91,480.92,372.72,481.11,372.48,481.11z" />
              <path class="st17" d="M381.3,481.11h-6.85c-0.23,0-0.42-0.19-0.42-0.42v-0.63c0-0.23,0.19-0.42,0.42-0.42h6.85
                         c0.23,0,0.42,0.19,0.42,0.42v0.63C381.72,480.92,381.53,481.11,381.3,481.11z" />
              <path class="st17" d="M390.11,481.11h-6.85c-0.23,0-0.42-0.19-0.42-0.42v-0.63c0-0.23,0.19-0.42,0.42-0.42h6.85
                         c0.23,0,0.42,0.19,0.42,0.42v0.63C390.53,480.92,390.34,481.11,390.11,481.11z" />
              <path class="st17" d="M398.92,481.11h-6.85c-0.23,0-0.42-0.19-0.42-0.42v-0.63c0-0.23,0.19-0.42,0.42-0.42h6.85
                         c0.23,0,0.42,0.19,0.42,0.42v0.63C399.34,480.92,399.15,481.11,398.92,481.11z" />
              <path class="st14" d="M238.25,557.88c-2.5,8-6.5,11.25-8.5,18.75c-0.34,1.29-0.59,2.85-0.79,4.6c-0.98,8.43-0.9,21.24-5.46,28.9
                         c-5.5,9.25-8.75,9-12.25,17.75s-3.5,18-5,25.75s-5.86,30.89-5.86,30.89c-0.46-0.17-0.95-0.35-1.45-0.55
                         c-2.21-0.85-4.59-1.93-6.32-3.23c-1.99-1.49-3.13-3.27-2.19-5.32c3.75-8.15,6.84-15.53,8.24-24.37c0.77-4.82,2.53-10.1,3.34-14.91
                         c1.59-9.36,3.27-18.97,7.54-27.55c2.62-5.27,4.74-9.37,6.45-12.66c5.16-9.91,6.66-12.34,7.23-16.29c0.13-0.88,0.21-1.84,0.28-2.97
                         c0.48-7.89-1.67-9.82-21.09-12.16c-9.31-1.12-66.91-0.31-97.46-3.8c-9.05-1.03-15.73-2.44-18.08-4.38c-1.9-1.57-3.61-3.29-5.14-5.05
                         c-0.04-0.04-0.09-0.1-0.14-0.15c-0.99-1.15-1.92-2.32-2.78-3.46c0-0.03-0.03-0.05-0.04-0.07c-0.12-0.18-0.23-0.37-0.34-0.55
                         c0.04,0,0.09-0.01,0.13-0.01c0.08-0.01,0.15-0.02,0.23-0.03c0.11-0.01,0.23-0.02,0.34-0.04c0.07-0.01,0.13-0.01,0.2-0.02
                         c0.15-0.02,0.31-0.04,0.46-0.05c0.03,0,0.06-0.01,0.09-0.01c1.2-0.16,2.33-0.33,3.4-0.53c12.04-2.18,16.04-6.77,16.28-7.06
                         c0.01-0.01,0.01-0.01,0.01-0.01s6.42,12.04,26.92,9.69s29.78-6.89,40.89-2.62c1.6,0.62,3.24,1.27,4.9,1.93
                         c9.86,3.94,20.8,8.27,33.21,7.84C220,555.63,240.75,549.88,238.25,557.88z" />
              <path class="st15" d="M379.71,454.42c-0.6-1.52-7.2-8.81-12.34-10.58c-5.15-1.78-18.62-2.64-18.62-2.64s-68.23-2.68-74.12-4.43
                         c-4.46-1.33-8.6-5.66-12.02-8.61c-5.18-4.47-9.96-9.34-15.04-13.91c-4.8-4.33-10.53-7.45-15.71-11.27
                         c-2.19-1.63-4.33-3.31-6.41-5.05c-0.46-0.38-0.91-0.76-1.36-1.14c0.16,0.26,0.33,0.53,0.5,0.79c0.03,0.05-0.67,0.34-0.7,0.39
                         c-0.3,0.59-0.5,1.24-0.81,1.83c-0.95,1.85-2.02,3.6-2.99,5.45c-0.69,1.31-1.3,2.61-2.02,3.91c-0.81,1.46-1.84,2.89-2.67,4.34
                         c-1.2,2.13-1.92,4.45-2.99,6.16c-0.06,0.11-0.13,0.22-0.2,0.33c0.3,0.12,0.6,0.25,0.9,0.37c0.1,0.04,0.2,0.09,0.3,0.13
                         c0.12,0.05,0.24,0.1,0.36,0.16c2.47,1.05,4.84,2.21,6.65,3.62c0.39,0.31,0.76,0.63,1.09,0.96c1.02,1.02,3.61,1.48,4.7,2.39
                         c2.85,2.37,7.03,3.3,10.36,4.78c0.09,0.04,0.17,0.08,0.26,0.11c3.56,1.58,7.13,3.17,10.68,4.78c6.14,2.77,12.35,5.52,18.53,8.33
                         c0.4,0.18,0.8,0.36,1.2,0.54c8.26,3.77,16.5,7.65,24.54,11.84c0.39,0.2,0.77,0.41,1.15,0.61c3.76,1.97,7.47,4.02,11.12,6.16
                         c0.65,0.37,1.29,0.75,1.93,1.13c0.24-0.05,0.49-0.09,0.73-0.14c1.86-0.36,3.7-0.72,5.55-1.12c8.53-1.77,16.98-3.91,25.23-6.67
                         c0.09-0.03,0.19-0.07,0.28-0.11c0.09-0.03,0.19-0.07,0.28-0.12c0.97-0.42,1.93-1.06,3-1.55l6.63-3.82c0.61-0.35,1.36-0.35,1.98,0
                         c0.37,0.21,0.74,0.42,1.11,0.65c0.05,0.03,0.1,0.06,0.15,0.09c1.42,0.88,2.78,1.86,4.07,2.94c0.68,0.56,1.37,1.13,2.02,1.72
                         c0.73,0.66,1.45,1.39,2.37,1.79c0.14,0.06,0.29,0.12,0.44,0.16c1.4,0.4,2.74-0.26,3.95-0.89c1.03-0.53,2.08-1.11,3.16-1.6
                         c0.26-0.12,0.54-0.25,0.84-0.37c0.83-0.35,1.73-0.66,2.58-0.67c2.73-0.02,5.08,2.41,5.8,4.91c0.24,0.84,0.29,1.73,0.12,2.59
                         c-1.32,6.57,2.4,10.58,2.88,8.25C379.6,469.75,380.31,455.93,379.71,454.42z" />
              <path class="st18" d="M186.64,440.31c-5.18-0.91-26.44-12.88-41.78-24.69c-3.29-2.53-6.32-5.02-8.87-7.35
                         c-14.44-13.15-16.6-8.32-16.6-8.32l1.49,13.29c0.23,12.75-1.92,25.55-3.85,38.11c-0.75,4.88-1.54,9.76-2.2,14.66
                         c-0.63,4.65-0.75,9.07-0.75,13.76s-1.51,8.88-3.59,13.03c-3.14,6.26-7.09,12.08-10.61,18.13c-1.16,2-2.29,4.02-3.33,6.09
                         c-1.38,2.77-2.08,5.33-2.3,7.67c-0.89,9.09,5.33,14.6,5.33,14.6c3.45-3.08,6.02-6.96,8.92-10.51c5.43-6.64,12.77-11.46,20.03-15.88
                         c5.15-3.13,10.25-6.5,15.98-8.48c3.21-1.11,6.58-1.67,9.96-1.97c3.15-0.28,6.33-0.21,9.47,0.2c1.29,0.17,2.56,0.4,3.83,0.68
                         c0.95,0.21,2.52,0.95,3.43,0.26c1.25-0.95,1.56-2.79,2.03-4.19c2.35-7.03,4.73-14,6.25-21.27c0.96-4.6,1.67-9.26,2.16-13.99
                         c0.45-4.4,0.9-8.81,1.35-13.21c0.01-0.06,0.03-0.12,0.04-0.17l0.75,0.49l1.95,1.27c2.33-3.05,4.37-6.05,6.15-8.96
                         C190.16,442.32,188.69,440.66,186.64,440.31z" />
              <path class="st18" d="M224.68,397.47c0,0-0.08,0.16-0.23,0.46c-0.82,1.6-3.67,7.18-6.77,12.82c-0.64,1.17-1.3,2.35-1.94,3.49
                         l-0.02,0.04l-0.12,0.21c-1.14,2.01-2.25,3.9-3.25,5.49c0,0.01,0,0.01,0,0.01c-0.02,0.02-0.04,0.05-0.05,0.07
                         c-0.31-0.13-0.6-0.26-0.88-0.4c-0.01,0-0.01,0-0.01,0c-0.63-0.31-1.18-0.65-1.63-1.04c-1.25-1.08-2.37-2.23-3.39-3.41
                         c-0.04-0.03-0.08-0.07-0.11-0.11c-1.16-1.32-2.21-2.7-3.23-4.09c-0.05-0.07-0.11-0.15-0.16-0.22l-0.01-0.02
                         c-1.99-2.74-3.83-5.54-6.02-8.18l-0.01-0.02l-1.2-1.64c-0.01-0.01-0.02-0.02-0.02-0.02l-3.98-5.41c0.14-1.14,0.27-2.29,0.39-3.43
                         c0.07-0.59,0.13-1.18,0.19-1.77c0.08-0.83,0.16-1.65,0.24-2.48c0.09-0.88,0.17-1.75,0.24-2.63c0.1-1.15,0.2-2.29,0.28-3.44
                         c0.41-5.45-0.13-10.87-0.79-16.3c-0.03-0.21-0.05-0.43-0.08-0.66c0-0.06-0.01-0.11-0.01-0.15c-0.02-0.19-0.03-0.29-0.04-0.36
                         c-0.01-0.19,0-0.19-0.07-0.72c-0.01-0.06-0.01-0.12-0.02-0.18c5.25,4.7,13.19,11.59,20.36,18.99c4.55,4.7,8.79,9.61,11.83,14.29
                         c0,0,0,0,0.01,0.01C224.35,396.94,224.52,397.2,224.68,397.47z" />
              <path class="st19"
                d="M447.24,399.39l-1.98-0.93c-1.4-0.66-3.06-0.06-3.72,1.34l-37.96,80.56h-89.03c-1.55,0-2.8,1.25-2.8,2.8v2.19
                         c0,1.55,1.25,2.8,2.8,2.8h92.22c0.08,0,0.16-0.02,0.24-0.02c0.07-0.01,0.14-0.01,0.21-0.02c0.16-0.03,0.31-0.07,0.46-0.12
                         c0.01,0,0.02,0,0.02-0.01c0.8-0.28,1.43-0.91,1.71-1.71l39.18-83.15C449.24,401.71,448.64,400.05,447.24,399.39z" />
              <path class="st18" d="M164.82,331.13c0,0-0.97,1.08-3.11,1.5c-6.51,1.25-19.95,5.35-25.96,16.5c-7.99,14.82-21.39,14.81-28.5,24.5
                         c-7.11,9.69,2.13,20.99-1.75,35s-11.93,36.98-17.75,68.79c-4.48,24.49-11.52,39.55-9.24,54.22c0,0,0.01,0.11,0.04,0.32
                         c0.21,1.56,1.24,8.58,3.63,12.79c0.34,0.61,0.71,1.15,1.11,1.62c-0.58,0.11-1.13,0.2-1.65,0.28c-1.88,0.29-3.2,0.41-3.2,0.41
                         c-3.43-3.76-5.26-13.57-5.88-17.72c-0.05-0.32-0.1-0.6-0.13-0.85c-0.02-0.1-0.03-0.21-0.05-0.32c-0.06-0.47-0.1-0.75-0.1-0.75
                         l0.01,0.01c-0.45-3.81-0.36-7.73-0.17-11.54c0.06-1.4,0.16-2.81,0.29-4.2c0.65-7.28,2-14.47,3.43-21.64
                         c4.42-22.39,10.63-43.98,10.89-66.97c0.1-9.53-0.33-19.04-0.83-28.55c-0.48-9.16,4.16-17.36,9.85-24.18
                         c5.59-6.71,10.91-13.83,16.84-20.25c11.77-12.73,24.05-16.31,45.22-23.54c0.27-0.09,0.54-0.19,0.81-0.28
                         c0.25-0.08,0.51-0.06,0.76,0.03c0.38,0.13,0.74,0.42,1.01,0.72L164.82,331.13z" />
              <path class="st13"
                d="M344.37,473.75l17.94-3.66c0,0,1.19-0.32,1.99,0s0.81,0.32,0.81,0.32s7.65,4.2,7.76,4.8
                         c0.11,0.59,0.59,2.9-6.57-1.08c0,0-1.29-0.51-2.21-0.45c-0.92,0.06-6.1,2.85-6.1,2.85l-7.21,0.89L344.37,473.75z" />
              <path class="st20"
                d="M215.86,413.79l-3.44,5.87c-0.16-0.09-0.32-0.18-0.48-0.28c-1.21-0.73-4.18-3.64-6.2-6.01l-1.69-2.36
                         c-0.05-0.07-0.11-0.15-0.16-0.22l-0.01-0.02l-4.88-7.08C203.97,408.13,215.86,413.79,215.86,413.79z" />
              <path class="st21" d="M342.04,488.14c0,0,6.13-8.79,10.12-9.33c1.74-0.24,3.65,0.36,5.3,0.85c2.25,0.66,4.45,1.5,6.61,2.39
                         c1.46,0.6,2.92,1.25,4.33,1.96c0.98,0.49,2.01,0.88,2.91,1.51c0.45,0.32,0.74,0.61,0.87,1.15c0.04,0.15,0.14,1.62,0.08,1.62
                         C372.26,488.3,342.04,488.14,342.04,488.14z" />
              <path class="st15" d="M373.03,483.51c-0.44-0.78-2.9-2.58-5.55-4.43c-2.29-1.59-4.73-3.23-6.11-4.29c-0.49-0.37-0.86-0.68-1.02-0.88
                         c-1.2-1.41-2.34-1.56-2.34-1.56s-2.4-0.11-5.83-0.19c-7.19-0.18-18.9-0.27-22.73,0.89c-3.98,1.2-12.22-2.05-16.76-4.1
                         c-1.92-0.86-3.18-1.5-3.18-1.5c-0.81-0.5-1.63-0.99-2.44-1.48c-2.84-1.69-5.72-3.33-8.63-4.92l-0.01-0.01c-0.01,0-0.01,0-0.02,0
                         c-16.1-8.81-33.16-16.18-49.8-23.68c-3.64-1.65-7.3-3.27-10.95-4.89c-2.6-1.15-5.21-2.08-7.72-3.44c-2.45-1.34-4.84-2.8-7.27-4.18
                         c-1.79-1.02-3.6-2-5.47-2.86c-1.59-0.73-3.25-1.45-4.78-2.33c-0.16-0.09-0.32-0.18-0.48-0.28c-1.21-0.73-4.18-3.64-6.2-6.01
                         c-0.85-1-1.54-1.9-1.85-2.51c-0.03,0.35-0.18,2.06-0.72,4.79c-0.5,2.43-1.74,5.29-3.04,9.11c-0.08,0.24-0.41,0.93-0.5,1.19
                         c-0.7,1.99-2.11,3.72-3.12,6c-1.55,3.5-3.95,6.52-6.37,10.49c0,0,19.73,15.7,29.37,15.7s20.5-2.08,32,3.5
                         c11.5,5.58,13.62,6.25,13.62,6.25s8.5,4.73,22,4.73c13.5,0.01,23.63,2.32,33.13,6.48c9.5,4.17,31.72,2.06,31.72,2.06
                         c0.02-0.01,0.05-0.03,0.07-0.04c0.01-0.01,0.02-0.01,0.02-0.01c1.18-0.66,2.48-1.13,4.02-1.23c2.1-0.14,7.2,3.44,9.84,4.34
                         c1.13,0.38,2.75,0.62,4.18,0.63C372.03,484.87,373.59,484.48,373.03,483.51z" />
              <path class="st15" d="M226.69,263.21c0,0-8.89,6.35-9.41,12.05c-0.52,5.7-4.92,10.26-5.25,13.52c-0.33,3.26-5.7,8.8-5.7,11.81
                         s-2.24,14.34,2.79,21.05c5.03,6.72,20.88,14.9,24.35,15.45c3.48,0.55,5.14,1.59,6.35-1.13c1.2-2.72,8.29-22.91,11.22-28.2
                         s8.22-7.57,7.33-11.81C257.47,291.71,245.99,259.55,226.69,263.21z" />
              <path class="st22" d="M204.05,411.01c-0.05-0.07-0.11-0.15-0.17-0.24c-0.74-1.07-1.48-2.14-2.22-3.21
                         c-1.62-2.35-3.31-4.65-5.03-6.93c-0.69-0.92-1.34-1.9-2.06-2.8c-0.66-0.82-1.46-1.57-1.74-2.61c-0.4-1.49,0.25-3.4,0.4-4.92
                         c0.08-0.83,0.16-1.65,0.24-2.48c0.09-0.88,0.17-1.75,0.24-2.63c0.1-1.15,0.19-2.29,0.28-3.44c0.41-5.45-0.13-10.87-0.79-16.3
                         c-0.03-0.21-0.05-0.43-0.08-0.66c0-0.06-0.01-0.11-0.01-0.15c-0.02-0.12-0.03-0.24-0.04-0.36c-0.02-0.23-0.05-0.47-0.07-0.72
                         c-0.01-0.06-0.01-0.12-0.02-0.18c-0.05-0.49-0.1-1-0.17-1.52c-0.2-1.63-0.51-3.33-1.08-4.78c-0.36-0.94-0.84-1.78-1.49-2.42
                         l-16.77-15.52l-8.65-8.01c0,0-1.34,0.13-3.48,0.54c-0.2,0.04-0.41,0.08-0.63,0.13c-6.74,1.37-19.97,5.37-25.79,16.18
                         c-7.99,14.82-21.56,14.83-28.68,24.53c-7.11,9.69,1.3,21.76-2.58,35.77c-3.88,14.01-12.94,37.06-18.76,68.86
                         c-4.48,24.49-9.32,39.82-7.03,54.49c0,0,0.06,0.96,0.09,1.17c0.21,1.56-0.03,8.47,2.37,12.68c0.34,0.6,2.56,0.42,2.96,0.88
                         c4.48-0.55,7.82-1.51,11.75-3.79c0.02-0.01,0.03-0.01,0.04-0.02c0.13-0.08,0.26-0.16,0.4-0.24c1.53-0.83,2.93-1.79,3.99-2.9
                         c0.05-0.05,0.08-0.09,0.1-0.13c-0.26-0.33-4.72-6.14-3.86-14.97c0.22-2.34,1.07-3.85,2.46-6.62c6.79-13.57,19.87-28.83,18.25-39.07
                         c-1.34-8.55,5.85-43.69,5.46-65.56l-0.87-10.86c0,0-0.8-5.41,14.49,6.62c2.71,2.13,5.58,4.97,8.88,7.5
                         c8.92,6.88,18.7,12.63,28.62,17.94c6.11,3.27,12.35,6.92,18.86,9.32c2.42-3.97,4.36-7.77,5.91-11.27c1.01-2.28,1.85-4.43,2.55-6.42
                         c0.09-0.26,0.18-0.51,0.26-0.75c1.33-3.9,2.51-6.67,3.4-8.54c0.32-0.67,0.6-1.22,0.84-1.67c0.59-1.09,0.92-1.56,0.92-1.56
                         L204.05,411.01z" />
              <path class="st13" d="M351.97,481.15c-1.21,0.69-2.29,1.57-3.38,2.44c-1.68,1.35-3.37,2.69-5.54,3.29
                         c-3.61,0.99-7.46-1.07-11.16-1.63c-19.45-2.93-38.88-5.93-58.3-8.93c-5.37-0.82-10.74-1.65-16.1-2.49
                         c-3.39-0.51-6.78-1.04-10.16-1.56c-1.39-0.21-2.77-0.43-4.16-0.65c-3.97-0.61-7.93-1.22-11.89-1.84
                         c-7.13-1.11-14.53-1.07-21.41-3.47c-5.97-2.08-11.53-5.34-16.76-8.86c-2.27-1.53-4.77-3.19-7.4-4.92l6.15-8.95
                         c0,0,18.61,13.55,28.25,13.55s21.14-1.66,32.64,3.92c11.5,5.58,11.5,5.58,11.5,5.58s9,4.74,22.5,4.74c13.5,0.01,24.5,2.93,34,7.09
                         C330.25,482.63,351.97,481.15,351.97,481.15z" />
              <path class="st13" d="M361.4,452.98c-0.73-0.53-1.5-1-2.31-1.4l-0.02-0.02h-0.01c-5.02-2.51-11.38-2.63-17.08-1.66
                         c-7.59,1.3-14.99,4.13-22.68,3.98c-8.33-0.15-16.28-3.5-24.55-4.37c-7.99-0.84-16.2-0.87-23.87-3.55
                         c-8.85-3.09-15.81-9.86-23.32-15.47c-9-6.72-19.09-11.91-29.64-15.76l0.01-0.01l-0.93-0.34l-1.14-0.59l-3.44,5.87l1.47,1.1
                         c0.22,0.2,0.5,0.4,0.81,0.61l0,0l0,0c1.64,1.06,4.28,2.14,5.27,2.67c0.15,0.08,0.29,0.16,0.44,0.23c4.08,2.22,8.22,4.31,12.39,6.33
                         c1.34,0.65,2.68,1.29,4.02,1.91c9.65,4.55,19.47,8.75,29.21,13.11c0.4,0.18,0.8,0.36,1.2,0.54c8.29,3.72,16.52,7.57,24.54,11.84
                         c0.39,0.2,0.77,0.41,1.15,0.61c2.71,1.46,5.39,2.96,8.04,4.53c1,0.59,2.01,1.2,3.08,1.63c0.62,0.25,1.25,0.45,1.91,0.55
                         c1.59,0.24,3.2-0.07,4.78-0.38c0.51-0.1,1.01-0.2,1.52-0.3c8.54-1.67,17.5-3.36,25.51-6.78c0.09-0.03,0.19-0.07,0.28-0.12
                         c1.47-0.63,2.9-1.32,4.29-2.08c2.76-1.5,5.22-3.51,8.26-2.7c0.06,0.02,0.12,0.04,0.17,0.06c0.06,0.02,0.11,0.04,0.17,0.06
                         l-0.02,0.03c1.42,0.88,2.78,1.86,4.07,2.94c0.68,0.56,1.37,1.13,2.02,1.72c0.73,0.66,1.45,1.39,2.37,1.79
                         c0.14,0.06,0.29,0.12,0.44,0.16c1.4,0.4,2.74-0.26,3.95-0.89c1.03-0.53,2.08-1.11,3.16-1.6c0.26-0.12,0.54-0.25,0.83-0.37
                         L361.4,452.98z" />
              <path class="st13"
                d="M205.45,285.9c-1.45-0.36-3.03-0.09-4.23,0.72c-1.57,1.07-2.7,3.68-3.71,5.33c-1.87,3.05-3.81,5.35-3.26,9.09
                         c0.6,4.05-3.03,6.98-7.06,8.36c-0.76,0.25-1.76,0.49-2.86,0.67c0,0-0.56,1.1-2.04,2.26c-4.3,3.36-14.65,13.9-23.31,13.9
                         c0.38,0.13,1.15,0.5,1.42,0.8l4.42,4.09c0.29,0.26,2.2-0.27,2.54-0.33c1.88-0.35,3.75-0.92,5.46-1.79c1.93-0.99,3.36-2.79,5.22-3.91
                         c7.1-4.26,15.37-7.09,18.13-15.63c2.5-7.75,7.21-14.4,11.28-23.04C206.89,286.08,206.08,286.05,205.45,285.9z" />
              <path class="st15"
                d="M209.94,292.09c-0.02,0.07-0.11,0.32-0.13,0.39c-0.68,1.87-1.84,3.15-3.06,4.58c-1.39,1.62-1.57,3.37-2.11,5.4
                         c-1.42,5.39-2.45,10.95-2.38,16.53c0.01,0.45-0.02,0.89-0.06,1.33c-0.01,0.14-0.03,0.27-0.05,0.41c0,0.07,0,0.13-0.02,0.2
                         c-0.17,1.65-0.37,3.23,0.55,4.64c0.22,0.35,1.39,3.98,1.01,5.71c-0.11,0.52-0.36,0.86-0.8,0.91c0,0-2.95,1.28-6.12,3.94
                         c-0.64,0.53-1.3,1.12-1.94,1.77c-0.49,0.5-0.91,1.25-1.26,2.17c-0.3,0.8-0.55,1.72-0.77,2.73c-0.03,0.15-0.06,0.3-0.09,0.45
                         c-0.88,4.47-0.99,10.35-0.98,13.83c-0.36-0.94-0.84-1.78-1.49-2.42l-16.77-15.52l-8.65-8.01c2.8-0.4,5.74-1.32,8.15-2.8
                         c1.96-1.2,3.57-2.89,5.57-4.07s4.1-2.15,6.17-3.18c3.37-1.68,6.75-4.06,8.62-7.43c3.78-6.81,8.97-20.96,13.9-26.93
                         c0-0.01,0-0.01,0-0.01c0.01-0.01,0.02-0.03,0.04-0.05c0.03-0.04,0.06-0.07,0.09-0.1c0.01,0,0.01-0.01,0.02-0.02
                         c0-0.01,0-0.03,0.01-0.04l0.17-0.3c1.48,0.88,2.77,2.75,2.75,4.64C210.3,291.28,210.05,291.72,209.94,292.09z" />
              <path class="st23"
                d="M235.6,244.44c2.26-1.9,4.79-3.6,5.93-6.6c1.27-3.36-2.15-9.81-6.36-13.86c-4.2-4.07-9.47,0.56-13.51,5.28
                         c-2.53,2.96-2.97,4.42-1.37,7.52c1.07,2.07,3.08,5.27,3.76,8.23c-0.06-0.02-0.11-0.06-0.17-0.08c-1.05-0.44-2.22-0.65-3.33-0.54
                         c-1.11,0.14-2.17,0.53-2.93,1.26c2.06-0.27,3.79,0.35,5.15,1.34c0.18,0.12,0.34,0.25,0.5,0.39s0.33,0.26,0.48,0.42
                         c0.12,0.12,0.24,0.24,0.37,0.36c-0.04,0.17-0.09,0.34-0.16,0.51c-0.13,0.35-0.3,0.68-0.54,1c-1.24,1.67-5.04,2.57-6.78,2.66
                         c-1.99,0.1-4.41-0.08-6.29,0.72c-1.95,0.83-2.98,2.68-4.34,4.2c-1.77,1.99-4.14,3.32-6.12,5.1c-2.9,2.6-4.7,6.05-5.46,9.85
                         c-0.82,4.16,0.19,8.66-1.33,12.68c-0.03,0.09-0.07,0.19-0.11,0.28c-0.71,1.74-1.91,3.23-2.89,4.84c-2.19,3.57-1.51,7.66-2.59,11.57
                         c-0.52,1.88-2.63,4.04-3.96,5.45c-1.79,1.9-5.77,3.65-7.15,3.23c1.4,0.5,4.97,0.32,7.91-0.18c1.09-0.18,2.09-0.42,2.85-0.67
                         c4.04-1.38,7.66-4.31,7.06-8.36c-0.55-3.74,1.39-6.04,3.26-9.09c1.01-1.65,2.13-4.25,3.71-5.33c1.2-0.81,2.75-0.97,4.21-0.61
                         c0.63,0.16,1.25,0.4,1.82,0.72c0.01-0.01,0.02-0.03,0.03-0.05c0.05-0.08,0.32-0.57,0.38-0.66c0.96-1.48,2.4-2.42,3.34-3.95
                         c2.3-3.73,2.99-8.13,3.87-12.36c0.74-3.56,2.55-6.49,5.63-8.39c2.75-1.7,5.92-2.45,8.95-3.48c3.22-1.09,6.21-2.73,9.36-4
                         c-0.56-0.49-1.21-0.89-1.99-1.15c-1.32-0.46-3.27-0.9-4.2-2.17c0.66-0.13,1.32-0.3,1.94-0.54c2-0.8,3.79-2.13,4.87-3.92
                         c-1.9,0.83-3.7,1.36-5.5,1.64c-0.52,0.07-1.03,0.12-1.53,0.14C233.03,246.44,234.65,245.23,235.6,244.44z" />
              <path class="st15"
                d="M209.94,292.09c-0.02,0.07-0.11,0.32-0.13,0.39c-0.68,1.87-1.84,3.15-3.06,4.58c-1.39,1.62-1.57,3.37-2.11,5.4
                         c-1.42,5.39-2.45,10.95-2.38,16.53c0.01,0.45-0.02,0.89-0.06,1.33c-0.01,0.14-0.03,0.27-0.05,0.41c0,0.07,0,0.13-0.02,0.2
                         c-0.17,1.65-0.37,3.23,0.55,4.64c0.22,0.35,1.39,3.98,1.01,5.71c-0.11,0.52-0.36,0.86-0.8,0.91c0,0-2.95,1.28-6.12,3.94
                         c-0.64,0.53-1.3,1.12-1.94,1.77c-0.49,0.5-0.91,1.25-1.26,2.17c-0.3,0.8-0.55,1.72-0.77,2.73c-0.03,0.15-0.06,0.3-0.09,0.45
                         c-0.88,4.47-0.99,10.35-0.98,13.83c-0.36-0.94-0.84-1.78-1.49-2.42l-16.77-15.52l-8.65-8.01c2.8-0.4,5.74-1.32,8.15-2.8
                         c1.96-1.2,3.57-2.89,5.57-4.07s4.1-2.15,6.17-3.18c3.37-1.68,6.75-4.06,8.62-7.43c3.78-6.81,8.97-20.96,13.9-26.93
                         c0-0.01,0-0.01,0-0.01c0.01-0.01,0.02-0.03,0.04-0.05c0.03-0.04,0.06-0.07,0.09-0.1c0.01,0,0.01-0.01,0.02-0.02
                         c0-0.01,0-0.03,0.01-0.04l0.17-0.3c1.48,0.88,2.77,2.75,2.75,4.64C210.3,291.28,210.05,291.72,209.94,292.09z" />
              <path class="st23" d="M233.47,346.72c-0.14,0.22-0.28,0.43-0.42,0.63c-1.93,2.85-4.32,5.36-7.37,7.03
                         c-0.56,0.31-1.03,0.62-1.43,0.94c-0.31-0.17-0.62-0.36-0.92-0.56c-2.57-1.69-4.94-4.12-6.32-6.23c-0.2-0.29-0.37-0.58-0.52-0.86
                         c-4.28-7.86-8.29-8.54-11.96-13.27c-0.19-0.23-0.36-0.46-0.53-0.69c-0.39-0.51-0.76-1.01-1.11-1.52c-0.39-1.17-0.72-2.62-1-4.21
                         c-0.06-0.32-0.11-0.64-0.16-0.97c-0.03-0.18-0.06-0.36-0.08-0.54c-0.02-0.09-0.03-0.18-0.04-0.27c-0.03-0.21-0.06-0.42-0.09-0.63
                         c-0.11-0.84-0.2-1.71-0.27-2.59c-0.03-0.42-0.06-0.83-0.08-1.25c-0.1-1.75-0.12-3.49-0.05-5.13c0,0.01,0,0.02,0.01,0.03
                         c0,0.02,0.01,0.05,0.01,0.07c0.01,0.07,0.02,0.13,0.04,0.2c0.15,0.56,0.5,1.86,1.02,3.42c0.02,0.09,0.06,0.18,0.08,0.27
                         c1.11,3.22,2.94,7.33,5.3,8.09c3.99,1.29,10.64,8.67,14.04,14.39c0.84,1.4,1.68,1.45,5.54,2.4
                         C229.06,345.94,231.21,346.35,233.47,346.72z" />
              <path class="st24"
                d="M259.11,292.36c-1.01,1.98-2.02,3.26-3.18,4.46c-0.14-0.14-0.27-0.28-0.38-0.44c-0.06-0.07-0.11-0.13-0.15-0.2
                         c-0.09-0.11-0.16-0.22-0.24-0.33c-0.49-0.72-0.9-1.53-1.25-2.37c-0.38-0.91-0.68-1.85-0.93-2.7c-0.09-0.32-0.19-0.62-0.31-0.92
                         c-0.06-0.15-0.12-0.3-0.19-0.45c-0.06-0.15-0.14-0.29-0.21-0.44c-0.08-0.17-0.16-0.33-0.25-0.49s-0.18-0.32-0.28-0.47
                         c-0.08-0.12-0.15-0.24-0.23-0.35c-0.02-0.04-0.05-0.07-0.07-0.11c-0.1-0.15-0.21-0.3-0.32-0.45c-0.37-0.48-0.77-0.94-1.21-1.37
                         c-0.14-0.14-0.27-0.27-0.42-0.38c-0.43-0.4-0.88-0.76-1.36-1.09c-2.69-1.86-5.75-1.2-8.62-2.65c-1.63-0.84-2.53-2.76-3.62-4.26
                         c-1.57-2.19-8.46-7.05-10.82-4.71c-1.82,1.8-1.18,6.47-1.02,9.05c0.01,0.16,0.02,0.31,0.03,0.47c0.27,6.63-5.46,3.58-8.7,4.94
                         c-2.75,1.17-1.96,5.36-2.68,7.71c-0.06,0.19-0.12,0.37-0.2,0.56c-0.02,0.06-0.05,0.12-0.07,0.18c-1.21,3.17-3.69,5.57-4.31,9.06
                         c-0.03,0.18-0.06,0.35-0.08,0.53c-0.44,2.86-0.16,5.2,0.61,7.26c0,0.01,0.01,0.01,0.01,0.02c1.26,3.37,3.78,5.95,6.53,8.57
                         c1.45,1.38,2.96,2.77,4.4,4.28c0.02,0.03,0.04,0.05,0.07,0.08c3,3.18,6.26,5.1,10.36,6.4c0.27,0.09,0.55,0.17,0.83,0.26
                         c0.1,0.03,0.21,0.05,0.32,0.09c0.64,0.18,1.32,0.36,2.05,0.53c0.06,0.02,0.13,0.04,0.19,0.05c0.61,0.15,1.26,0.29,1.94,0.43
                         c0.45,0.1,0.91,0.19,1.39,0.29c0.06,0.02,0.12,0.02,0.17,0.04c0.11,0.03,0.22,0.07,0.32,0.12c0.72,0.27,1.35,0.81,1.89,1.46
                         c-0.62,1.45-1.24,2.89-1.84,4.3c-1.07,2.51-2.29,5.05-3.81,7.4c-0.14,0.22-0.28,0.43-0.42,0.63c-2.22-0.3-4.29-0.85-6.13-1.3
                         c-2.67-0.66-5.8-1.61-7.82-3.56c-2.03-1.97-3.57-4.43-5.29-6.66c-1.51-1.96-3.12-4.12-5.28-5.41c-0.22-0.14-0.45-0.25-0.68-0.36
                         c-1.66-0.8-2.63-1.66-3.51-3.28c-0.75-1.39-1.3-2.89-1.77-4.39c-0.15-0.48-0.3-0.97-0.44-1.46c-0.01-0.04-0.03-0.09-0.04-0.14
                         c-0.36-1.28-0.67-2.58-0.91-3.89c-0.02-0.07-0.03-0.13-0.04-0.2c0-0.02-0.01-0.05-0.01-0.07c-0.01-0.01-0.01-0.02-0.01-0.03
                         c0.07-1.49,0.22-2.89,0.46-4.12c0.04-0.2,0.09-0.38,0.13-0.57c0.07-0.27,0.12-0.53,0.16-0.8c0.09-0.48,0.16-0.96,0.21-1.44
                         c0.02-0.16,0.04-0.32,0.05-0.48c0.42-4.42-0.18-8.76,3.3-12.28c0.05-0.06,0.11-0.11,0.17-0.17c0.01-0.01,0.03-0.03,0.04-0.05
                         c1.45-1.38,3.28-2.47,3.93-4.33c0.02-0.07,0.04-0.14,0.06-0.21c0.11-0.37,0.17-0.77,0.18-1.21c0.02-1.86-1.07-3.32-2.52-4.19
                         c-0.01-0.01-0.03-0.02-0.04-0.02v-0.01c-0.01,0-0.01-0.01-0.02-0.01c0.01-0.01,0.02-0.03,0.04-0.05c0.06-0.08,0.11-0.16,0.15-0.25
                         c0.13-0.21,0.25-0.42,0.38-0.63c0.19-0.29,0.38-0.57,0.59-0.85c0.15-0.18,0.29-0.36,0.43-0.55c0.14-0.18,0.28-0.36,0.42-0.54
                         c0.13-0.19,0.26-0.37,0.38-0.56c0.77-1.21,1.46-2.48,2.05-3.79c1.17-2.62,1.96-5.44,2.08-8.31c0.36-8.23,8.97-14.84,14.67-14.84
                         c2.51,0,6.54-0.95,10.39-2.51c1.16,0.99,1.95,2.35,2.84,3.78c1.65,2.66,4.15,4.16,6.94,5.14c4.76,1.68,8.63,2.6,11.78,6.79
                         c0.09,0.12,0.18,0.24,0.27,0.37c0.28,0.8,0.54,1.61,0.79,2.42C263.37,278.67,262.11,286.51,259.11,292.36z" />
              <path class="st25"
                d="M238.4,347.44c-0.93,1.28-1.94,2.49-2.91,3.76c-0.85,1.13-2.8,4.23-3.98,4.96c-2.04,1.24-4.71,0.63-7.26-0.84
                         c0.4-0.32,0.87-0.63,1.43-0.94c3.05-1.67,5.44-4.18,7.37-7.03C234.76,347.58,236.56,347.67,238.4,347.44z" />
              <path class="st26" d="M240.71,337.55c-0.08-0.15-0.15-0.31-0.24-0.46c-0.36-0.71-0.82-1.45-1.35-2.07c-0.62,1.45-1.24,2.89-1.84,4.3
                         c-1.07,2.51-2.29,5.05-3.81,7.4c-0.14,0.22-0.28,0.43-0.42,0.63c1.71,0.23,3.51,0.32,5.35,0.09c0.47-0.64,0.93-1.29,1.34-1.98
                         C241.25,343,242.02,340.26,240.71,337.55z" />
              <path class="st26" d="M272.28,292.95c-0.01,0.24-0.09,0.5-0.15,0.7c-0.13,0.41-0.33,0.79-0.58,1.14c-0.51,0.72-1.2,1.31-1.94,1.8
                         c-0.49,0.32-1.01,0.6-1.55,0.82c-2.25,0.94-4.87,2.44-7.37,2.14c-0.54-0.06-1.06-0.2-1.58-0.41c-0.02-0.01-0.04-0.02-0.06-0.03
                         c-0.91-0.44-1.75-1.08-2.52-1.71c-0.13-0.1-0.25-0.21-0.37-0.33l-0.18-0.18c-0.02-0.02-0.04-0.04-0.05-0.06
                         c1.16-1.2,2.17-2.48,3.18-4.46c3-5.85,4.26-13.69,2.32-20.03c-0.25-0.81-0.51-1.62-0.79-2.42c1.31,1.79,2.41,3.76,3.23,5.85
                         c0.91,2.29,1.47,4.72,1.59,7.18c0,0.06,0.01,0.13,0.01,0.19c0.07,1.98,0.1,4.17,1.13,5.89c1.05,1.75,2.94,2.56,4.83,3.06
                         c0.24,0.06,0.52,0.12,0.69,0.32C272.26,292.54,272.29,292.74,272.28,292.95z" />
              <path class="st27" d="M259.11,299.13c-0.01,0.04-0.03,0.08-0.05,0.12c-0.77,1.74-2.47,5.25-4.26,7.14
                         c-2.44,2.56-0.61,9.7-0.66,13.19c-0.08,5.49-4.13,1.46-7.2,5.06c-2.5,2.93-5.45,9.93-6.47,12.45c-0.36-0.71-0.82-1.45-1.35-2.07
                         c2.4-5.64,4.76-11.53,5.89-17.39c0.91-4.75,0.8-9.51,3.99-13.5c3.03-3.79,5.16-5.46,6.93-7.31c0.01,0.02,0.03,0.04,0.05,0.06
                         l0.18,0.18c0.81,0.85,1.81,1.59,2.89,2.04C259.07,299.11,259.09,299.12,259.11,299.13z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
      <div class="hero-foot">
        <a (click)="scroll(biography,'center')"><span></span>Scroll</a>
      </div>
  </section>
  <section #biography id="bio" class="hero is-primary biog has-text-centered is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <img class="avatar" src="assets/avatar.png">
            <h1 class="title is-spaced is-size-4-desktop is-size-5-tablet is-size-6-mobile">Hi, I’m Arthur. I am 23 y.o. Nice to meet you.</h1>
            <h2 class="subtitle is-size-5-desktop is-size-6-tablet is-size-6-mobile">
              I have been working as a programmer for about 3 years.
              I am interested in development and innovation in the field of IT.
              I always monitor the releases of new development tools, SDKs, frameworks and libraries, etc.
              I try to learn everything new in order to expand the boundaries of knowledge.
              In my free time I am interested in web (Angular + Asp.Net Core) and mobile (Flutter + Asp.Net Core) development, but mostly time i had to develop desktop application (WPF).
              I mainly write back-end parts, although I am always ready to participate in write front-end parts if necessary.
              When building a microservices architecture, I adhere to the principles of SOLID, using design patterns as needed.
              I also prefer using IOC-containers to write loosely coupled code and have complete control over the lifecycle of each service.
              I expand my knowledge of .net core Web Api, RESTfull, swagger, JWT tokens.
              There is experience with GIT (GitKraken), SVN (TortoiseSVN).
              Unfortunately, a little knowledge in SQL (entry level), consider this . 
              There is experience using EF Core (EF), configuring migrations, knowledge of LINQ, working with databases (PostgreSQL, SQLite) at the level of data adapters. 
              Deployment and work with PgAdmin4 and DB Browser.
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <a (click)="scroll(mySkills,'nearest')"><span></span><span></span><span></span>Scroll</a>
    </div>
  </section>
  <section #mySkills id="skill" class="hero is-primary is-bold skills has-text-centered is-fullheight">
    <div class="hero-body">
    <div class="container">
      <div class="box">
        <div class="content">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title is-size-4 is-spaced">Back-end Developer</h1>
              <p>I appreciate the competent approach to development using OOP, following the principles of Solid.</p>
              <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
              <p>C#, F#, Dart, SQL(beginner)</p>
              <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
              <ul>
                <li>Visual Studio 2019</li>
                <li>.NET Core</li>
                <li>ASP.NET Core</li>
                <li>ASP.NET WebApi 2</li>
                <li>WPF &amp; WinForm</li>
                <li>NetMQ &amp; RabbitMQ</li>
                <li>PostgreSQL (Client pgAdmin 4) </li>
                <li>SQLLite</li>
                <li>Swagger &amp; Postman</li>
                <li>nUnit &amp; xUnit</li>
              </ul>
            </div>
            <div class="column">
              <h1 class="title is-size-4 is-spaced">Front-end Developer</h1>
              <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser and mobile app.</p>
              <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
              <p>TypeScript, HTML5, CSS3, SASS/LESS</p>
              <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
              <ul>
                <li>VS Code</li>
                <li>Bitbucket</li>
                <li>Bulma</li>
                <li>Material design</li>
                <li>Bootstrap</li>
                <li>Codekit</li>
                <li>Github</li>
                <li>Gitlab</li>
                <li>Terminal</li>
              </ul>
            </div>
            <div class="column"> 
              <h1 class="title is-size-4 is-spaced">DevOps</h1>
              <p>The ability to establish processes and automate them, track and implement system solutions.</p>
              <p class="list-title has-text-primary has-text-weight-normal">Build .NET projects</p>
              <p>Nuke &amp; Cake </p>
              <p class="list-title has-text-primary has-text-weight-normal">Technology test and deploy</p>
              <ul>
                <li>Gitlab CI/CD</li>
                <li>AzureDevOps</li>
                <li>telegram-bot notifications</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> 
    </div>
    <a id="buttonUp" style="position: fixed; bottom: 5px; left: 96%;" *ngIf="isShow" (click)="gotoTop()">
      <span class="icon">
        <fa-icon [icon]="buttonCircleUp" size="3x"></fa-icon>
      </span>
    </a>
  </section>
  </body>

